$/improper:bytype1 @/improper:OPLSAA/X_X_003_004 $/atom:DEC[0][0][0]/3 $/atom:DEC[0][0][0]/6 $/atom:DEC[0][0][0]/4 $/atom:DEC[0][0][0]/5
$/improper:bytype2 @/improper:OPLSAA/X_X_003_004 $/atom:DEC[0][0][0]/5 $/atom:DEC[0][0][0]/3 $/atom:DEC[0][0][0]/4 $/atom:DEC[0][0][0]/6
