$/improper:bytype1 @/improper:OPLSAA/X_X_003_004 $/atom:EP[0][0][0]/2 $/atom:EP[0][0][0]/5 $/atom:EP[0][0][0]/3 $/atom:EP[0][0][0]/4
$/improper:bytype2 @/improper:OPLSAA/X_X_003_004 $/atom:EP[0][0][0]/4 $/atom:EP[0][0][0]/2 $/atom:EP[0][0][0]/3 $/atom:EP[0][0][0]/5
