$/improper:bytype1 @/improper:OPLSAA/X_X_003_004 $/atom:PC[0][0][0]/4 $/atom:PC[0][0][0]/7 $/atom:PC[0][0][0]/5 $/atom:PC[0][0][0]/6
$/improper:bytype2 @/improper:OPLSAA/X_X_003_004 $/atom:PC[0][0][0]/6 $/atom:PC[0][0][0]/4 $/atom:PC[0][0][0]/5 $/atom:PC[0][0][0]/7
