        $/bond:PMMA[0][0][0]/monomers[1]/1    $/atom:PMMA[0][0][0]/monomers[1]/1    $/atom:PMMA[0][0][0]/monomers[1]/2
        $/bond:PMMA[0][0][0]/monomers[1]/2    $/atom:PMMA[0][0][0]/monomers[1]/2    $/atom:PMMA[0][0][0]/monomers[1]/3
        $/bond:PMMA[0][0][0]/monomers[1]/3    $/atom:PMMA[0][0][0]/monomers[1]/2    $/atom:PMMA[0][0][0]/monomers[1]/4
        $/bond:PMMA[0][0][0]/monomers[1]/4    $/atom:PMMA[0][0][0]/monomers[1]/4    $/atom:PMMA[0][0][0]/monomers[1]/5
        $/bond:PMMA[0][0][0]/monomers[1]/5    $/atom:PMMA[0][0][0]/monomers[1]/4    $/atom:PMMA[0][0][0]/monomers[1]/6
        $/bond:PMMA[0][0][0]/monomers[1]/6    $/atom:PMMA[0][0][0]/monomers[1]/6    $/atom:PMMA[0][0][0]/monomers[1]/7
        $/bond:PMMA[0][0][0]/monomers[1]/7    $/atom:PMMA[0][0][0]/monomers[1]/1    $/atom:PMMA[0][0][0]/monomers[1]/8
        $/bond:PMMA[0][0][0]/monomers[1]/8    $/atom:PMMA[0][0][0]/monomers[1]/1    $/atom:PMMA[0][0][0]/monomers[1]/9
        $/bond:PMMA[0][0][0]/monomers[1]/9    $/atom:PMMA[0][0][0]/monomers[1]/3    $/atom:PMMA[0][0][0]/monomers[1]/10
        $/bond:PMMA[0][0][0]/monomers[1]/10    $/atom:PMMA[0][0][0]/monomers[1]/3    $/atom:PMMA[0][0][0]/monomers[1]/11
        $/bond:PMMA[0][0][0]/monomers[1]/11    $/atom:PMMA[0][0][0]/monomers[1]/3    $/atom:PMMA[0][0][0]/monomers[1]/12
        $/bond:PMMA[0][0][0]/monomers[1]/12    $/atom:PMMA[0][0][0]/monomers[1]/7    $/atom:PMMA[0][0][0]/monomers[1]/13
        $/bond:PMMA[0][0][0]/monomers[1]/13    $/atom:PMMA[0][0][0]/monomers[1]/7    $/atom:PMMA[0][0][0]/monomers[1]/14
        $/bond:PMMA[0][0][0]/monomers[1]/14    $/atom:PMMA[0][0][0]/monomers[1]/7    $/atom:PMMA[0][0][0]/monomers[1]/15
        $/bond:PMMA[0][0][0]/monomers[2]/1    $/atom:PMMA[0][0][0]/monomers[2]/1    $/atom:PMMA[0][0][0]/monomers[2]/2
        $/bond:PMMA[0][0][0]/monomers[2]/2    $/atom:PMMA[0][0][0]/monomers[2]/2    $/atom:PMMA[0][0][0]/monomers[2]/3
        $/bond:PMMA[0][0][0]/monomers[2]/3    $/atom:PMMA[0][0][0]/monomers[2]/2    $/atom:PMMA[0][0][0]/monomers[2]/4
        $/bond:PMMA[0][0][0]/monomers[2]/4    $/atom:PMMA[0][0][0]/monomers[2]/4    $/atom:PMMA[0][0][0]/monomers[2]/5
        $/bond:PMMA[0][0][0]/monomers[2]/5    $/atom:PMMA[0][0][0]/monomers[2]/4    $/atom:PMMA[0][0][0]/monomers[2]/6
        $/bond:PMMA[0][0][0]/monomers[2]/6    $/atom:PMMA[0][0][0]/monomers[2]/6    $/atom:PMMA[0][0][0]/monomers[2]/7
        $/bond:PMMA[0][0][0]/monomers[2]/7    $/atom:PMMA[0][0][0]/monomers[2]/1    $/atom:PMMA[0][0][0]/monomers[2]/8
        $/bond:PMMA[0][0][0]/monomers[2]/8    $/atom:PMMA[0][0][0]/monomers[2]/1    $/atom:PMMA[0][0][0]/monomers[2]/9
        $/bond:PMMA[0][0][0]/monomers[2]/9    $/atom:PMMA[0][0][0]/monomers[2]/3    $/atom:PMMA[0][0][0]/monomers[2]/10
        $/bond:PMMA[0][0][0]/monomers[2]/10    $/atom:PMMA[0][0][0]/monomers[2]/3    $/atom:PMMA[0][0][0]/monomers[2]/11
        $/bond:PMMA[0][0][0]/monomers[2]/11    $/atom:PMMA[0][0][0]/monomers[2]/3    $/atom:PMMA[0][0][0]/monomers[2]/12
        $/bond:PMMA[0][0][0]/monomers[2]/12    $/atom:PMMA[0][0][0]/monomers[2]/7    $/atom:PMMA[0][0][0]/monomers[2]/13
        $/bond:PMMA[0][0][0]/monomers[2]/13    $/atom:PMMA[0][0][0]/monomers[2]/7    $/atom:PMMA[0][0][0]/monomers[2]/14
        $/bond:PMMA[0][0][0]/monomers[2]/14    $/atom:PMMA[0][0][0]/monomers[2]/7    $/atom:PMMA[0][0][0]/monomers[2]/15
        $/bond:PMMA[0][0][0]/monomers[3]/1    $/atom:PMMA[0][0][0]/monomers[3]/1    $/atom:PMMA[0][0][0]/monomers[3]/2
        $/bond:PMMA[0][0][0]/monomers[3]/2    $/atom:PMMA[0][0][0]/monomers[3]/2    $/atom:PMMA[0][0][0]/monomers[3]/3
        $/bond:PMMA[0][0][0]/monomers[3]/3    $/atom:PMMA[0][0][0]/monomers[3]/2    $/atom:PMMA[0][0][0]/monomers[3]/4
        $/bond:PMMA[0][0][0]/monomers[3]/4    $/atom:PMMA[0][0][0]/monomers[3]/4    $/atom:PMMA[0][0][0]/monomers[3]/5
        $/bond:PMMA[0][0][0]/monomers[3]/5    $/atom:PMMA[0][0][0]/monomers[3]/4    $/atom:PMMA[0][0][0]/monomers[3]/6
        $/bond:PMMA[0][0][0]/monomers[3]/6    $/atom:PMMA[0][0][0]/monomers[3]/6    $/atom:PMMA[0][0][0]/monomers[3]/7
        $/bond:PMMA[0][0][0]/monomers[3]/7    $/atom:PMMA[0][0][0]/monomers[3]/1    $/atom:PMMA[0][0][0]/monomers[3]/8
        $/bond:PMMA[0][0][0]/monomers[3]/8    $/atom:PMMA[0][0][0]/monomers[3]/1    $/atom:PMMA[0][0][0]/monomers[3]/9
        $/bond:PMMA[0][0][0]/monomers[3]/9    $/atom:PMMA[0][0][0]/monomers[3]/3    $/atom:PMMA[0][0][0]/monomers[3]/10
        $/bond:PMMA[0][0][0]/monomers[3]/10    $/atom:PMMA[0][0][0]/monomers[3]/3    $/atom:PMMA[0][0][0]/monomers[3]/11
        $/bond:PMMA[0][0][0]/monomers[3]/11    $/atom:PMMA[0][0][0]/monomers[3]/3    $/atom:PMMA[0][0][0]/monomers[3]/12
        $/bond:PMMA[0][0][0]/monomers[3]/12    $/atom:PMMA[0][0][0]/monomers[3]/7    $/atom:PMMA[0][0][0]/monomers[3]/13
        $/bond:PMMA[0][0][0]/monomers[3]/13    $/atom:PMMA[0][0][0]/monomers[3]/7    $/atom:PMMA[0][0][0]/monomers[3]/14
        $/bond:PMMA[0][0][0]/monomers[3]/14    $/atom:PMMA[0][0][0]/monomers[3]/7    $/atom:PMMA[0][0][0]/monomers[3]/15
        $/bond:PMMA[0][0][0]/monomers[4]/1    $/atom:PMMA[0][0][0]/monomers[4]/1    $/atom:PMMA[0][0][0]/monomers[4]/2
        $/bond:PMMA[0][0][0]/monomers[4]/2    $/atom:PMMA[0][0][0]/monomers[4]/2    $/atom:PMMA[0][0][0]/monomers[4]/3
        $/bond:PMMA[0][0][0]/monomers[4]/3    $/atom:PMMA[0][0][0]/monomers[4]/2    $/atom:PMMA[0][0][0]/monomers[4]/4
        $/bond:PMMA[0][0][0]/monomers[4]/4    $/atom:PMMA[0][0][0]/monomers[4]/4    $/atom:PMMA[0][0][0]/monomers[4]/5
        $/bond:PMMA[0][0][0]/monomers[4]/5    $/atom:PMMA[0][0][0]/monomers[4]/4    $/atom:PMMA[0][0][0]/monomers[4]/6
        $/bond:PMMA[0][0][0]/monomers[4]/6    $/atom:PMMA[0][0][0]/monomers[4]/6    $/atom:PMMA[0][0][0]/monomers[4]/7
        $/bond:PMMA[0][0][0]/monomers[4]/7    $/atom:PMMA[0][0][0]/monomers[4]/1    $/atom:PMMA[0][0][0]/monomers[4]/8
        $/bond:PMMA[0][0][0]/monomers[4]/8    $/atom:PMMA[0][0][0]/monomers[4]/1    $/atom:PMMA[0][0][0]/monomers[4]/9
        $/bond:PMMA[0][0][0]/monomers[4]/9    $/atom:PMMA[0][0][0]/monomers[4]/3    $/atom:PMMA[0][0][0]/monomers[4]/10
        $/bond:PMMA[0][0][0]/monomers[4]/10    $/atom:PMMA[0][0][0]/monomers[4]/3    $/atom:PMMA[0][0][0]/monomers[4]/11
        $/bond:PMMA[0][0][0]/monomers[4]/11    $/atom:PMMA[0][0][0]/monomers[4]/3    $/atom:PMMA[0][0][0]/monomers[4]/12
        $/bond:PMMA[0][0][0]/monomers[4]/12    $/atom:PMMA[0][0][0]/monomers[4]/7    $/atom:PMMA[0][0][0]/monomers[4]/13
        $/bond:PMMA[0][0][0]/monomers[4]/13    $/atom:PMMA[0][0][0]/monomers[4]/7    $/atom:PMMA[0][0][0]/monomers[4]/14
        $/bond:PMMA[0][0][0]/monomers[4]/14    $/atom:PMMA[0][0][0]/monomers[4]/7    $/atom:PMMA[0][0][0]/monomers[4]/15
        $/bond:PMMA[0][0][0]/monomers[5]/1    $/atom:PMMA[0][0][0]/monomers[5]/1    $/atom:PMMA[0][0][0]/monomers[5]/2
        $/bond:PMMA[0][0][0]/monomers[5]/2    $/atom:PMMA[0][0][0]/monomers[5]/2    $/atom:PMMA[0][0][0]/monomers[5]/3
        $/bond:PMMA[0][0][0]/monomers[5]/3    $/atom:PMMA[0][0][0]/monomers[5]/2    $/atom:PMMA[0][0][0]/monomers[5]/4
        $/bond:PMMA[0][0][0]/monomers[5]/4    $/atom:PMMA[0][0][0]/monomers[5]/4    $/atom:PMMA[0][0][0]/monomers[5]/5
        $/bond:PMMA[0][0][0]/monomers[5]/5    $/atom:PMMA[0][0][0]/monomers[5]/4    $/atom:PMMA[0][0][0]/monomers[5]/6
        $/bond:PMMA[0][0][0]/monomers[5]/6    $/atom:PMMA[0][0][0]/monomers[5]/6    $/atom:PMMA[0][0][0]/monomers[5]/7
        $/bond:PMMA[0][0][0]/monomers[5]/7    $/atom:PMMA[0][0][0]/monomers[5]/1    $/atom:PMMA[0][0][0]/monomers[5]/8
        $/bond:PMMA[0][0][0]/monomers[5]/8    $/atom:PMMA[0][0][0]/monomers[5]/1    $/atom:PMMA[0][0][0]/monomers[5]/9
        $/bond:PMMA[0][0][0]/monomers[5]/9    $/atom:PMMA[0][0][0]/monomers[5]/3    $/atom:PMMA[0][0][0]/monomers[5]/10
        $/bond:PMMA[0][0][0]/monomers[5]/10    $/atom:PMMA[0][0][0]/monomers[5]/3    $/atom:PMMA[0][0][0]/monomers[5]/11
        $/bond:PMMA[0][0][0]/monomers[5]/11    $/atom:PMMA[0][0][0]/monomers[5]/3    $/atom:PMMA[0][0][0]/monomers[5]/12
        $/bond:PMMA[0][0][0]/monomers[5]/12    $/atom:PMMA[0][0][0]/monomers[5]/7    $/atom:PMMA[0][0][0]/monomers[5]/13
        $/bond:PMMA[0][0][0]/monomers[5]/13    $/atom:PMMA[0][0][0]/monomers[5]/7    $/atom:PMMA[0][0][0]/monomers[5]/14
        $/bond:PMMA[0][0][0]/monomers[5]/14    $/atom:PMMA[0][0][0]/monomers[5]/7    $/atom:PMMA[0][0][0]/monomers[5]/15
        $/bond:PMMA[0][0][0]/monomers[6]/1    $/atom:PMMA[0][0][0]/monomers[6]/1    $/atom:PMMA[0][0][0]/monomers[6]/2
        $/bond:PMMA[0][0][0]/monomers[6]/2    $/atom:PMMA[0][0][0]/monomers[6]/2    $/atom:PMMA[0][0][0]/monomers[6]/3
        $/bond:PMMA[0][0][0]/monomers[6]/3    $/atom:PMMA[0][0][0]/monomers[6]/2    $/atom:PMMA[0][0][0]/monomers[6]/4
        $/bond:PMMA[0][0][0]/monomers[6]/4    $/atom:PMMA[0][0][0]/monomers[6]/4    $/atom:PMMA[0][0][0]/monomers[6]/5
        $/bond:PMMA[0][0][0]/monomers[6]/5    $/atom:PMMA[0][0][0]/monomers[6]/4    $/atom:PMMA[0][0][0]/monomers[6]/6
        $/bond:PMMA[0][0][0]/monomers[6]/6    $/atom:PMMA[0][0][0]/monomers[6]/6    $/atom:PMMA[0][0][0]/monomers[6]/7
        $/bond:PMMA[0][0][0]/monomers[6]/7    $/atom:PMMA[0][0][0]/monomers[6]/1    $/atom:PMMA[0][0][0]/monomers[6]/8
        $/bond:PMMA[0][0][0]/monomers[6]/8    $/atom:PMMA[0][0][0]/monomers[6]/1    $/atom:PMMA[0][0][0]/monomers[6]/9
        $/bond:PMMA[0][0][0]/monomers[6]/9    $/atom:PMMA[0][0][0]/monomers[6]/3    $/atom:PMMA[0][0][0]/monomers[6]/10
        $/bond:PMMA[0][0][0]/monomers[6]/10    $/atom:PMMA[0][0][0]/monomers[6]/3    $/atom:PMMA[0][0][0]/monomers[6]/11
        $/bond:PMMA[0][0][0]/monomers[6]/11    $/atom:PMMA[0][0][0]/monomers[6]/3    $/atom:PMMA[0][0][0]/monomers[6]/12
        $/bond:PMMA[0][0][0]/monomers[6]/12    $/atom:PMMA[0][0][0]/monomers[6]/7    $/atom:PMMA[0][0][0]/monomers[6]/13
        $/bond:PMMA[0][0][0]/monomers[6]/13    $/atom:PMMA[0][0][0]/monomers[6]/7    $/atom:PMMA[0][0][0]/monomers[6]/14
        $/bond:PMMA[0][0][0]/monomers[6]/14    $/atom:PMMA[0][0][0]/monomers[6]/7    $/atom:PMMA[0][0][0]/monomers[6]/15
        $/bond:PMMA[0][0][0]/monomers[7]/1    $/atom:PMMA[0][0][0]/monomers[7]/1    $/atom:PMMA[0][0][0]/monomers[7]/2
        $/bond:PMMA[0][0][0]/monomers[7]/2    $/atom:PMMA[0][0][0]/monomers[7]/2    $/atom:PMMA[0][0][0]/monomers[7]/3
        $/bond:PMMA[0][0][0]/monomers[7]/3    $/atom:PMMA[0][0][0]/monomers[7]/2    $/atom:PMMA[0][0][0]/monomers[7]/4
        $/bond:PMMA[0][0][0]/monomers[7]/4    $/atom:PMMA[0][0][0]/monomers[7]/4    $/atom:PMMA[0][0][0]/monomers[7]/5
        $/bond:PMMA[0][0][0]/monomers[7]/5    $/atom:PMMA[0][0][0]/monomers[7]/4    $/atom:PMMA[0][0][0]/monomers[7]/6
        $/bond:PMMA[0][0][0]/monomers[7]/6    $/atom:PMMA[0][0][0]/monomers[7]/6    $/atom:PMMA[0][0][0]/monomers[7]/7
        $/bond:PMMA[0][0][0]/monomers[7]/7    $/atom:PMMA[0][0][0]/monomers[7]/1    $/atom:PMMA[0][0][0]/monomers[7]/8
        $/bond:PMMA[0][0][0]/monomers[7]/8    $/atom:PMMA[0][0][0]/monomers[7]/1    $/atom:PMMA[0][0][0]/monomers[7]/9
        $/bond:PMMA[0][0][0]/monomers[7]/9    $/atom:PMMA[0][0][0]/monomers[7]/3    $/atom:PMMA[0][0][0]/monomers[7]/10
        $/bond:PMMA[0][0][0]/monomers[7]/10    $/atom:PMMA[0][0][0]/monomers[7]/3    $/atom:PMMA[0][0][0]/monomers[7]/11
        $/bond:PMMA[0][0][0]/monomers[7]/11    $/atom:PMMA[0][0][0]/monomers[7]/3    $/atom:PMMA[0][0][0]/monomers[7]/12
        $/bond:PMMA[0][0][0]/monomers[7]/12    $/atom:PMMA[0][0][0]/monomers[7]/7    $/atom:PMMA[0][0][0]/monomers[7]/13
        $/bond:PMMA[0][0][0]/monomers[7]/13    $/atom:PMMA[0][0][0]/monomers[7]/7    $/atom:PMMA[0][0][0]/monomers[7]/14
        $/bond:PMMA[0][0][0]/monomers[7]/14    $/atom:PMMA[0][0][0]/monomers[7]/7    $/atom:PMMA[0][0][0]/monomers[7]/15
        $/bond:PMMA[0][0][0]/monomers[8]/1    $/atom:PMMA[0][0][0]/monomers[8]/1    $/atom:PMMA[0][0][0]/monomers[8]/2
        $/bond:PMMA[0][0][0]/monomers[8]/2    $/atom:PMMA[0][0][0]/monomers[8]/2    $/atom:PMMA[0][0][0]/monomers[8]/3
        $/bond:PMMA[0][0][0]/monomers[8]/3    $/atom:PMMA[0][0][0]/monomers[8]/2    $/atom:PMMA[0][0][0]/monomers[8]/4
        $/bond:PMMA[0][0][0]/monomers[8]/4    $/atom:PMMA[0][0][0]/monomers[8]/4    $/atom:PMMA[0][0][0]/monomers[8]/5
        $/bond:PMMA[0][0][0]/monomers[8]/5    $/atom:PMMA[0][0][0]/monomers[8]/4    $/atom:PMMA[0][0][0]/monomers[8]/6
        $/bond:PMMA[0][0][0]/monomers[8]/6    $/atom:PMMA[0][0][0]/monomers[8]/6    $/atom:PMMA[0][0][0]/monomers[8]/7
        $/bond:PMMA[0][0][0]/monomers[8]/7    $/atom:PMMA[0][0][0]/monomers[8]/1    $/atom:PMMA[0][0][0]/monomers[8]/8
        $/bond:PMMA[0][0][0]/monomers[8]/8    $/atom:PMMA[0][0][0]/monomers[8]/1    $/atom:PMMA[0][0][0]/monomers[8]/9
        $/bond:PMMA[0][0][0]/monomers[8]/9    $/atom:PMMA[0][0][0]/monomers[8]/3    $/atom:PMMA[0][0][0]/monomers[8]/10
        $/bond:PMMA[0][0][0]/monomers[8]/10    $/atom:PMMA[0][0][0]/monomers[8]/3    $/atom:PMMA[0][0][0]/monomers[8]/11
        $/bond:PMMA[0][0][0]/monomers[8]/11    $/atom:PMMA[0][0][0]/monomers[8]/3    $/atom:PMMA[0][0][0]/monomers[8]/12
        $/bond:PMMA[0][0][0]/monomers[8]/12    $/atom:PMMA[0][0][0]/monomers[8]/7    $/atom:PMMA[0][0][0]/monomers[8]/13
        $/bond:PMMA[0][0][0]/monomers[8]/13    $/atom:PMMA[0][0][0]/monomers[8]/7    $/atom:PMMA[0][0][0]/monomers[8]/14
        $/bond:PMMA[0][0][0]/monomers[8]/14    $/atom:PMMA[0][0][0]/monomers[8]/7    $/atom:PMMA[0][0][0]/monomers[8]/15
        $/bond:PMMA[0][0][0]/monomers[0]/1    $/atom:PMMA[0][0][0]/monomers[0]/1    $/atom:PMMA[0][0][0]/monomers[0]/2
        $/bond:PMMA[0][0][0]/monomers[0]/2    $/atom:PMMA[0][0][0]/monomers[0]/2    $/atom:PMMA[0][0][0]/monomers[0]/3
        $/bond:PMMA[0][0][0]/monomers[0]/3    $/atom:PMMA[0][0][0]/monomers[0]/2    $/atom:PMMA[0][0][0]/monomers[0]/4
        $/bond:PMMA[0][0][0]/monomers[0]/4    $/atom:PMMA[0][0][0]/monomers[0]/4    $/atom:PMMA[0][0][0]/monomers[0]/5
        $/bond:PMMA[0][0][0]/monomers[0]/5    $/atom:PMMA[0][0][0]/monomers[0]/4    $/atom:PMMA[0][0][0]/monomers[0]/6
        $/bond:PMMA[0][0][0]/monomers[0]/6    $/atom:PMMA[0][0][0]/monomers[0]/6    $/atom:PMMA[0][0][0]/monomers[0]/7
        $/bond:PMMA[0][0][0]/monomers[0]/7    $/atom:PMMA[0][0][0]/monomers[0]/1    $/atom:PMMA[0][0][0]/monomers[0]/8
        $/bond:PMMA[0][0][0]/monomers[0]/8    $/atom:PMMA[0][0][0]/monomers[0]/1    $/atom:PMMA[0][0][0]/monomers[0]/9
        $/bond:PMMA[0][0][0]/monomers[0]/9    $/atom:PMMA[0][0][0]/monomers[0]/3    $/atom:PMMA[0][0][0]/monomers[0]/10
        $/bond:PMMA[0][0][0]/monomers[0]/10    $/atom:PMMA[0][0][0]/monomers[0]/3    $/atom:PMMA[0][0][0]/monomers[0]/11
        $/bond:PMMA[0][0][0]/monomers[0]/11    $/atom:PMMA[0][0][0]/monomers[0]/3    $/atom:PMMA[0][0][0]/monomers[0]/12
        $/bond:PMMA[0][0][0]/monomers[0]/12    $/atom:PMMA[0][0][0]/monomers[0]/7    $/atom:PMMA[0][0][0]/monomers[0]/13
        $/bond:PMMA[0][0][0]/monomers[0]/13    $/atom:PMMA[0][0][0]/monomers[0]/7    $/atom:PMMA[0][0][0]/monomers[0]/14
        $/bond:PMMA[0][0][0]/monomers[0]/14    $/atom:PMMA[0][0][0]/monomers[0]/7    $/atom:PMMA[0][0][0]/monomers[0]/15
        $/bond:PMMA[0][0][0]/monomers[9]/1    $/atom:PMMA[0][0][0]/monomers[9]/1    $/atom:PMMA[0][0][0]/monomers[9]/2
        $/bond:PMMA[0][0][0]/monomers[9]/2    $/atom:PMMA[0][0][0]/monomers[9]/2    $/atom:PMMA[0][0][0]/monomers[9]/3
        $/bond:PMMA[0][0][0]/monomers[9]/3    $/atom:PMMA[0][0][0]/monomers[9]/2    $/atom:PMMA[0][0][0]/monomers[9]/4
        $/bond:PMMA[0][0][0]/monomers[9]/4    $/atom:PMMA[0][0][0]/monomers[9]/4    $/atom:PMMA[0][0][0]/monomers[9]/5
        $/bond:PMMA[0][0][0]/monomers[9]/5    $/atom:PMMA[0][0][0]/monomers[9]/4    $/atom:PMMA[0][0][0]/monomers[9]/6
        $/bond:PMMA[0][0][0]/monomers[9]/6    $/atom:PMMA[0][0][0]/monomers[9]/6    $/atom:PMMA[0][0][0]/monomers[9]/7
        $/bond:PMMA[0][0][0]/monomers[9]/7    $/atom:PMMA[0][0][0]/monomers[9]/1    $/atom:PMMA[0][0][0]/monomers[9]/8
        $/bond:PMMA[0][0][0]/monomers[9]/8    $/atom:PMMA[0][0][0]/monomers[9]/1    $/atom:PMMA[0][0][0]/monomers[9]/9
        $/bond:PMMA[0][0][0]/monomers[9]/9    $/atom:PMMA[0][0][0]/monomers[9]/3    $/atom:PMMA[0][0][0]/monomers[9]/10
        $/bond:PMMA[0][0][0]/monomers[9]/10    $/atom:PMMA[0][0][0]/monomers[9]/3    $/atom:PMMA[0][0][0]/monomers[9]/11
        $/bond:PMMA[0][0][0]/monomers[9]/11    $/atom:PMMA[0][0][0]/monomers[9]/3    $/atom:PMMA[0][0][0]/monomers[9]/12
        $/bond:PMMA[0][0][0]/monomers[9]/12    $/atom:PMMA[0][0][0]/monomers[9]/7    $/atom:PMMA[0][0][0]/monomers[9]/13
        $/bond:PMMA[0][0][0]/monomers[9]/13    $/atom:PMMA[0][0][0]/monomers[9]/7    $/atom:PMMA[0][0][0]/monomers[9]/14
        $/bond:PMMA[0][0][0]/monomers[9]/14    $/atom:PMMA[0][0][0]/monomers[9]/7    $/atom:PMMA[0][0][0]/monomers[9]/15
    $/bond:PMMA[0][0][0]/genp_bond_nt1 $/atom:PMMA[0][0][0]/monomers[0]/1 $/atom:PMMA[0][0][0]/monomers[1]/2
    $/bond:PMMA[0][0][0]/genp_bond_nt2 $/atom:PMMA[0][0][0]/monomers[1]/1 $/atom:PMMA[0][0][0]/monomers[2]/2
    $/bond:PMMA[0][0][0]/genp_bond_nt3 $/atom:PMMA[0][0][0]/monomers[2]/1 $/atom:PMMA[0][0][0]/monomers[3]/2
    $/bond:PMMA[0][0][0]/genp_bond_nt4 $/atom:PMMA[0][0][0]/monomers[3]/1 $/atom:PMMA[0][0][0]/monomers[4]/2
    $/bond:PMMA[0][0][0]/genp_bond_nt5 $/atom:PMMA[0][0][0]/monomers[4]/1 $/atom:PMMA[0][0][0]/monomers[5]/2
    $/bond:PMMA[0][0][0]/genp_bond_nt6 $/atom:PMMA[0][0][0]/monomers[5]/1 $/atom:PMMA[0][0][0]/monomers[6]/2
    $/bond:PMMA[0][0][0]/genp_bond_nt7 $/atom:PMMA[0][0][0]/monomers[6]/1 $/atom:PMMA[0][0][0]/monomers[7]/2
    $/bond:PMMA[0][0][0]/genp_bond_nt8 $/atom:PMMA[0][0][0]/monomers[7]/1 $/atom:PMMA[0][0][0]/monomers[8]/2
    $/bond:PMMA[0][0][0]/genp_bond_nt9 $/atom:PMMA[0][0][0]/monomers[8]/1 $/atom:PMMA[0][0][0]/monomers[9]/2
