$/angle:bytype1 @/angle:OPLSAA/004_003_013 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[1]/4 $/atom:PMMA[0]/monomers[1]/5
$/angle:bytype2 @/angle:OPLSAA/004_003_013 $/atom:PMMA[0]/monomers[2]/2 $/atom:PMMA[0]/monomers[2]/4 $/atom:PMMA[0]/monomers[2]/5
$/angle:bytype3 @/angle:OPLSAA/004_003_013 $/atom:PMMA[0]/monomers[3]/2 $/atom:PMMA[0]/monomers[3]/4 $/atom:PMMA[0]/monomers[3]/5
$/angle:bytype4 @/angle:OPLSAA/004_003_013 $/atom:PMMA[0]/monomers[4]/2 $/atom:PMMA[0]/monomers[4]/4 $/atom:PMMA[0]/monomers[4]/5
$/angle:bytype5 @/angle:OPLSAA/004_003_013 $/atom:PMMA[0]/monomers[5]/2 $/atom:PMMA[0]/monomers[5]/4 $/atom:PMMA[0]/monomers[5]/5
$/angle:bytype6 @/angle:OPLSAA/004_003_013 $/atom:PMMA[0]/monomers[6]/2 $/atom:PMMA[0]/monomers[6]/4 $/atom:PMMA[0]/monomers[6]/5
$/angle:bytype7 @/angle:OPLSAA/004_003_013 $/atom:PMMA[0]/monomers[7]/2 $/atom:PMMA[0]/monomers[7]/4 $/atom:PMMA[0]/monomers[7]/5
$/angle:bytype8 @/angle:OPLSAA/004_003_013 $/atom:PMMA[0]/monomers[8]/2 $/atom:PMMA[0]/monomers[8]/4 $/atom:PMMA[0]/monomers[8]/5
$/angle:bytype9 @/angle:OPLSAA/004_003_013 $/atom:PMMA[0]/monomers[0]/2 $/atom:PMMA[0]/monomers[0]/4 $/atom:PMMA[0]/monomers[0]/5
$/angle:bytype10 @/angle:OPLSAA/004_003_013 $/atom:PMMA[0]/monomers[9]/2 $/atom:PMMA[0]/monomers[9]/4 $/atom:PMMA[0]/monomers[9]/5
$/angle:bytype11 @/angle:OPLSAA/013_003_020 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[1]/4 $/atom:PMMA[0]/monomers[1]/6
$/angle:bytype12 @/angle:OPLSAA/013_003_020 $/atom:PMMA[0]/monomers[2]/2 $/atom:PMMA[0]/monomers[2]/4 $/atom:PMMA[0]/monomers[2]/6
$/angle:bytype13 @/angle:OPLSAA/013_003_020 $/atom:PMMA[0]/monomers[3]/2 $/atom:PMMA[0]/monomers[3]/4 $/atom:PMMA[0]/monomers[3]/6
$/angle:bytype14 @/angle:OPLSAA/013_003_020 $/atom:PMMA[0]/monomers[4]/2 $/atom:PMMA[0]/monomers[4]/4 $/atom:PMMA[0]/monomers[4]/6
$/angle:bytype15 @/angle:OPLSAA/013_003_020 $/atom:PMMA[0]/monomers[5]/2 $/atom:PMMA[0]/monomers[5]/4 $/atom:PMMA[0]/monomers[5]/6
$/angle:bytype16 @/angle:OPLSAA/013_003_020 $/atom:PMMA[0]/monomers[6]/2 $/atom:PMMA[0]/monomers[6]/4 $/atom:PMMA[0]/monomers[6]/6
$/angle:bytype17 @/angle:OPLSAA/013_003_020 $/atom:PMMA[0]/monomers[7]/2 $/atom:PMMA[0]/monomers[7]/4 $/atom:PMMA[0]/monomers[7]/6
$/angle:bytype18 @/angle:OPLSAA/013_003_020 $/atom:PMMA[0]/monomers[8]/2 $/atom:PMMA[0]/monomers[8]/4 $/atom:PMMA[0]/monomers[8]/6
$/angle:bytype19 @/angle:OPLSAA/013_003_020 $/atom:PMMA[0]/monomers[0]/2 $/atom:PMMA[0]/monomers[0]/4 $/atom:PMMA[0]/monomers[0]/6
$/angle:bytype20 @/angle:OPLSAA/013_003_020 $/atom:PMMA[0]/monomers[9]/2 $/atom:PMMA[0]/monomers[9]/4 $/atom:PMMA[0]/monomers[9]/6
$/angle:bytype21 @/angle:OPLSAA/004_003_020 $/atom:PMMA[0]/monomers[1]/5 $/atom:PMMA[0]/monomers[1]/4 $/atom:PMMA[0]/monomers[1]/6
$/angle:bytype22 @/angle:OPLSAA/004_003_020 $/atom:PMMA[0]/monomers[2]/5 $/atom:PMMA[0]/monomers[2]/4 $/atom:PMMA[0]/monomers[2]/6
$/angle:bytype23 @/angle:OPLSAA/004_003_020 $/atom:PMMA[0]/monomers[3]/5 $/atom:PMMA[0]/monomers[3]/4 $/atom:PMMA[0]/monomers[3]/6
$/angle:bytype24 @/angle:OPLSAA/004_003_020 $/atom:PMMA[0]/monomers[4]/5 $/atom:PMMA[0]/monomers[4]/4 $/atom:PMMA[0]/monomers[4]/6
$/angle:bytype25 @/angle:OPLSAA/004_003_020 $/atom:PMMA[0]/monomers[5]/5 $/atom:PMMA[0]/monomers[5]/4 $/atom:PMMA[0]/monomers[5]/6
$/angle:bytype26 @/angle:OPLSAA/004_003_020 $/atom:PMMA[0]/monomers[6]/5 $/atom:PMMA[0]/monomers[6]/4 $/atom:PMMA[0]/monomers[6]/6
$/angle:bytype27 @/angle:OPLSAA/004_003_020 $/atom:PMMA[0]/monomers[7]/5 $/atom:PMMA[0]/monomers[7]/4 $/atom:PMMA[0]/monomers[7]/6
$/angle:bytype28 @/angle:OPLSAA/004_003_020 $/atom:PMMA[0]/monomers[8]/5 $/atom:PMMA[0]/monomers[8]/4 $/atom:PMMA[0]/monomers[8]/6
$/angle:bytype29 @/angle:OPLSAA/004_003_020 $/atom:PMMA[0]/monomers[0]/5 $/atom:PMMA[0]/monomers[0]/4 $/atom:PMMA[0]/monomers[0]/6
$/angle:bytype30 @/angle:OPLSAA/004_003_020 $/atom:PMMA[0]/monomers[9]/5 $/atom:PMMA[0]/monomers[9]/4 $/atom:PMMA[0]/monomers[9]/6
$/angle:bytype31 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[1]/1 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[1]/3
$/angle:bytype32 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[1]/1 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[0]/1
$/angle:bytype33 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[1]/1 $/atom:PMMA[0]/monomers[2]/2 $/atom:PMMA[0]/monomers[2]/3
$/angle:bytype34 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[2]/1 $/atom:PMMA[0]/monomers[2]/2 $/atom:PMMA[0]/monomers[2]/3
$/angle:bytype35 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[2]/1 $/atom:PMMA[0]/monomers[3]/2 $/atom:PMMA[0]/monomers[3]/3
$/angle:bytype36 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[3]/1 $/atom:PMMA[0]/monomers[3]/2 $/atom:PMMA[0]/monomers[3]/3
$/angle:bytype37 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[3]/1 $/atom:PMMA[0]/monomers[4]/2 $/atom:PMMA[0]/monomers[4]/3
$/angle:bytype38 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[4]/1 $/atom:PMMA[0]/monomers[4]/2 $/atom:PMMA[0]/monomers[4]/3
$/angle:bytype39 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[4]/1 $/atom:PMMA[0]/monomers[5]/2 $/atom:PMMA[0]/monomers[5]/3
$/angle:bytype40 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[5]/1 $/atom:PMMA[0]/monomers[5]/2 $/atom:PMMA[0]/monomers[5]/3
$/angle:bytype41 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[5]/1 $/atom:PMMA[0]/monomers[6]/2 $/atom:PMMA[0]/monomers[6]/3
$/angle:bytype42 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[6]/1 $/atom:PMMA[0]/monomers[6]/2 $/atom:PMMA[0]/monomers[6]/3
$/angle:bytype43 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[6]/1 $/atom:PMMA[0]/monomers[7]/2 $/atom:PMMA[0]/monomers[7]/3
$/angle:bytype44 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[7]/1 $/atom:PMMA[0]/monomers[7]/2 $/atom:PMMA[0]/monomers[7]/3
$/angle:bytype45 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[7]/1 $/atom:PMMA[0]/monomers[8]/2 $/atom:PMMA[0]/monomers[8]/3
$/angle:bytype46 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[8]/1 $/atom:PMMA[0]/monomers[8]/2 $/atom:PMMA[0]/monomers[8]/3
$/angle:bytype47 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[1]/1 $/atom:PMMA[0]/monomers[2]/2 $/atom:PMMA[0]/monomers[2]/1
$/angle:bytype48 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[2]/1 $/atom:PMMA[0]/monomers[3]/2 $/atom:PMMA[0]/monomers[3]/1
$/angle:bytype49 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[3]/1 $/atom:PMMA[0]/monomers[4]/2 $/atom:PMMA[0]/monomers[4]/1
$/angle:bytype50 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[4]/1 $/atom:PMMA[0]/monomers[5]/2 $/atom:PMMA[0]/monomers[5]/1
$/angle:bytype51 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[5]/1 $/atom:PMMA[0]/monomers[6]/2 $/atom:PMMA[0]/monomers[6]/1
$/angle:bytype52 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[6]/1 $/atom:PMMA[0]/monomers[7]/2 $/atom:PMMA[0]/monomers[7]/1
$/angle:bytype53 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[7]/1 $/atom:PMMA[0]/monomers[8]/2 $/atom:PMMA[0]/monomers[8]/1
$/angle:bytype54 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[1]/1 $/atom:PMMA[0]/monomers[2]/2
$/angle:bytype55 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[2]/2 $/atom:PMMA[0]/monomers[2]/1 $/atom:PMMA[0]/monomers[3]/2
$/angle:bytype56 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[3]/2 $/atom:PMMA[0]/monomers[3]/1 $/atom:PMMA[0]/monomers[4]/2
$/angle:bytype57 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[4]/2 $/atom:PMMA[0]/monomers[4]/1 $/atom:PMMA[0]/monomers[5]/2
$/angle:bytype58 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[5]/2 $/atom:PMMA[0]/monomers[5]/1 $/atom:PMMA[0]/monomers[6]/2
$/angle:bytype59 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[6]/2 $/atom:PMMA[0]/monomers[6]/1 $/atom:PMMA[0]/monomers[7]/2
$/angle:bytype60 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[7]/2 $/atom:PMMA[0]/monomers[7]/1 $/atom:PMMA[0]/monomers[8]/2
$/angle:bytype61 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[0]/1 $/atom:PMMA[0]/monomers[0]/2
$/angle:bytype62 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[1]/3 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[0]/1
$/angle:bytype63 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[8]/1 $/atom:PMMA[0]/monomers[9]/2 $/atom:PMMA[0]/monomers[9]/1
$/angle:bytype64 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[8]/1 $/atom:PMMA[0]/monomers[9]/2 $/atom:PMMA[0]/monomers[9]/3
$/angle:bytype65 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[8]/2 $/atom:PMMA[0]/monomers[8]/1 $/atom:PMMA[0]/monomers[9]/2
$/angle:bytype66 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[0]/1 $/atom:PMMA[0]/monomers[0]/2 $/atom:PMMA[0]/monomers[0]/3
$/angle:bytype67 @/angle:OPLSAA/013_013_013 $/atom:PMMA[0]/monomers[9]/1 $/atom:PMMA[0]/monomers[9]/2 $/atom:PMMA[0]/monomers[9]/3
$/angle:bytype68 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[1]/1 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[1]/4
$/angle:bytype69 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[2]/1 $/atom:PMMA[0]/monomers[2]/2 $/atom:PMMA[0]/monomers[2]/4
$/angle:bytype70 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[1]/1 $/atom:PMMA[0]/monomers[2]/2 $/atom:PMMA[0]/monomers[2]/4
$/angle:bytype71 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[3]/1 $/atom:PMMA[0]/monomers[3]/2 $/atom:PMMA[0]/monomers[3]/4
$/angle:bytype72 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[2]/1 $/atom:PMMA[0]/monomers[3]/2 $/atom:PMMA[0]/monomers[3]/4
$/angle:bytype73 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[4]/1 $/atom:PMMA[0]/monomers[4]/2 $/atom:PMMA[0]/monomers[4]/4
$/angle:bytype74 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[3]/1 $/atom:PMMA[0]/monomers[4]/2 $/atom:PMMA[0]/monomers[4]/4
$/angle:bytype75 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[5]/1 $/atom:PMMA[0]/monomers[5]/2 $/atom:PMMA[0]/monomers[5]/4
$/angle:bytype76 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[4]/1 $/atom:PMMA[0]/monomers[5]/2 $/atom:PMMA[0]/monomers[5]/4
$/angle:bytype77 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[6]/1 $/atom:PMMA[0]/monomers[6]/2 $/atom:PMMA[0]/monomers[6]/4
$/angle:bytype78 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[5]/1 $/atom:PMMA[0]/monomers[6]/2 $/atom:PMMA[0]/monomers[6]/4
$/angle:bytype79 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[7]/1 $/atom:PMMA[0]/monomers[7]/2 $/atom:PMMA[0]/monomers[7]/4
$/angle:bytype80 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[6]/1 $/atom:PMMA[0]/monomers[7]/2 $/atom:PMMA[0]/monomers[7]/4
$/angle:bytype81 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[8]/1 $/atom:PMMA[0]/monomers[8]/2 $/atom:PMMA[0]/monomers[8]/4
$/angle:bytype82 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[7]/1 $/atom:PMMA[0]/monomers[8]/2 $/atom:PMMA[0]/monomers[8]/4
$/angle:bytype83 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[1]/3 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[1]/4
$/angle:bytype84 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[1]/4 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[0]/1
$/angle:bytype85 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[2]/3 $/atom:PMMA[0]/monomers[2]/2 $/atom:PMMA[0]/monomers[2]/4
$/angle:bytype86 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[3]/3 $/atom:PMMA[0]/monomers[3]/2 $/atom:PMMA[0]/monomers[3]/4
$/angle:bytype87 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[4]/3 $/atom:PMMA[0]/monomers[4]/2 $/atom:PMMA[0]/monomers[4]/4
$/angle:bytype88 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[5]/3 $/atom:PMMA[0]/monomers[5]/2 $/atom:PMMA[0]/monomers[5]/4
$/angle:bytype89 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[6]/3 $/atom:PMMA[0]/monomers[6]/2 $/atom:PMMA[0]/monomers[6]/4
$/angle:bytype90 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[7]/3 $/atom:PMMA[0]/monomers[7]/2 $/atom:PMMA[0]/monomers[7]/4
$/angle:bytype91 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[8]/3 $/atom:PMMA[0]/monomers[8]/2 $/atom:PMMA[0]/monomers[8]/4
$/angle:bytype92 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[0]/1 $/atom:PMMA[0]/monomers[0]/2 $/atom:PMMA[0]/monomers[0]/4
$/angle:bytype93 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[0]/3 $/atom:PMMA[0]/monomers[0]/2 $/atom:PMMA[0]/monomers[0]/4
$/angle:bytype94 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[9]/1 $/atom:PMMA[0]/monomers[9]/2 $/atom:PMMA[0]/monomers[9]/4
$/angle:bytype95 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[9]/3 $/atom:PMMA[0]/monomers[9]/2 $/atom:PMMA[0]/monomers[9]/4
$/angle:bytype96 @/angle:OPLSAA/003_013_013 $/atom:PMMA[0]/monomers[8]/1 $/atom:PMMA[0]/monomers[9]/2 $/atom:PMMA[0]/monomers[9]/4
$/angle:bytype97 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[1]/8 $/atom:PMMA[0]/monomers[1]/1 $/atom:PMMA[0]/monomers[1]/9
$/angle:bytype98 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[2]/8 $/atom:PMMA[0]/monomers[2]/1 $/atom:PMMA[0]/monomers[2]/9
$/angle:bytype99 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[3]/8 $/atom:PMMA[0]/monomers[3]/1 $/atom:PMMA[0]/monomers[3]/9
$/angle:bytype100 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[4]/8 $/atom:PMMA[0]/monomers[4]/1 $/atom:PMMA[0]/monomers[4]/9
$/angle:bytype101 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[5]/8 $/atom:PMMA[0]/monomers[5]/1 $/atom:PMMA[0]/monomers[5]/9
$/angle:bytype102 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[6]/8 $/atom:PMMA[0]/monomers[6]/1 $/atom:PMMA[0]/monomers[6]/9
$/angle:bytype103 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[7]/8 $/atom:PMMA[0]/monomers[7]/1 $/atom:PMMA[0]/monomers[7]/9
$/angle:bytype104 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[8]/8 $/atom:PMMA[0]/monomers[8]/1 $/atom:PMMA[0]/monomers[8]/9
$/angle:bytype105 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[1]/10 $/atom:PMMA[0]/monomers[1]/3 $/atom:PMMA[0]/monomers[1]/11
$/angle:bytype106 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[1]/10 $/atom:PMMA[0]/monomers[1]/3 $/atom:PMMA[0]/monomers[1]/12
$/angle:bytype107 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[1]/11 $/atom:PMMA[0]/monomers[1]/3 $/atom:PMMA[0]/monomers[1]/12
$/angle:bytype108 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[2]/10 $/atom:PMMA[0]/monomers[2]/3 $/atom:PMMA[0]/monomers[2]/11
$/angle:bytype109 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[2]/10 $/atom:PMMA[0]/monomers[2]/3 $/atom:PMMA[0]/monomers[2]/12
$/angle:bytype110 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[2]/11 $/atom:PMMA[0]/monomers[2]/3 $/atom:PMMA[0]/monomers[2]/12
$/angle:bytype111 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[3]/10 $/atom:PMMA[0]/monomers[3]/3 $/atom:PMMA[0]/monomers[3]/11
$/angle:bytype112 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[3]/10 $/atom:PMMA[0]/monomers[3]/3 $/atom:PMMA[0]/monomers[3]/12
$/angle:bytype113 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[3]/11 $/atom:PMMA[0]/monomers[3]/3 $/atom:PMMA[0]/monomers[3]/12
$/angle:bytype114 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[4]/10 $/atom:PMMA[0]/monomers[4]/3 $/atom:PMMA[0]/monomers[4]/11
$/angle:bytype115 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[4]/10 $/atom:PMMA[0]/monomers[4]/3 $/atom:PMMA[0]/monomers[4]/12
$/angle:bytype116 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[4]/11 $/atom:PMMA[0]/monomers[4]/3 $/atom:PMMA[0]/monomers[4]/12
$/angle:bytype117 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[5]/10 $/atom:PMMA[0]/monomers[5]/3 $/atom:PMMA[0]/monomers[5]/11
$/angle:bytype118 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[5]/10 $/atom:PMMA[0]/monomers[5]/3 $/atom:PMMA[0]/monomers[5]/12
$/angle:bytype119 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[5]/11 $/atom:PMMA[0]/monomers[5]/3 $/atom:PMMA[0]/monomers[5]/12
$/angle:bytype120 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[6]/10 $/atom:PMMA[0]/monomers[6]/3 $/atom:PMMA[0]/monomers[6]/11
$/angle:bytype121 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[6]/10 $/atom:PMMA[0]/monomers[6]/3 $/atom:PMMA[0]/monomers[6]/12
$/angle:bytype122 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[6]/11 $/atom:PMMA[0]/monomers[6]/3 $/atom:PMMA[0]/monomers[6]/12
$/angle:bytype123 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[7]/10 $/atom:PMMA[0]/monomers[7]/3 $/atom:PMMA[0]/monomers[7]/11
$/angle:bytype124 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[7]/10 $/atom:PMMA[0]/monomers[7]/3 $/atom:PMMA[0]/monomers[7]/12
$/angle:bytype125 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[7]/11 $/atom:PMMA[0]/monomers[7]/3 $/atom:PMMA[0]/monomers[7]/12
$/angle:bytype126 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[8]/10 $/atom:PMMA[0]/monomers[8]/3 $/atom:PMMA[0]/monomers[8]/11
$/angle:bytype127 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[8]/10 $/atom:PMMA[0]/monomers[8]/3 $/atom:PMMA[0]/monomers[8]/12
$/angle:bytype128 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[8]/11 $/atom:PMMA[0]/monomers[8]/3 $/atom:PMMA[0]/monomers[8]/12
$/angle:bytype129 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[0]/10 $/atom:PMMA[0]/monomers[0]/3 $/atom:PMMA[0]/monomers[0]/11
$/angle:bytype130 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[0]/10 $/atom:PMMA[0]/monomers[0]/3 $/atom:PMMA[0]/monomers[0]/12
$/angle:bytype131 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[0]/11 $/atom:PMMA[0]/monomers[0]/3 $/atom:PMMA[0]/monomers[0]/12
$/angle:bytype132 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[9]/10 $/atom:PMMA[0]/monomers[9]/3 $/atom:PMMA[0]/monomers[9]/11
$/angle:bytype133 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[9]/10 $/atom:PMMA[0]/monomers[9]/3 $/atom:PMMA[0]/monomers[9]/12
$/angle:bytype134 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[9]/11 $/atom:PMMA[0]/monomers[9]/3 $/atom:PMMA[0]/monomers[9]/12
$/angle:bytype135 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[1]/13 $/atom:PMMA[0]/monomers[1]/7 $/atom:PMMA[0]/monomers[1]/14
$/angle:bytype136 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[1]/13 $/atom:PMMA[0]/monomers[1]/7 $/atom:PMMA[0]/monomers[1]/15
$/angle:bytype137 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[1]/14 $/atom:PMMA[0]/monomers[1]/7 $/atom:PMMA[0]/monomers[1]/15
$/angle:bytype138 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[2]/13 $/atom:PMMA[0]/monomers[2]/7 $/atom:PMMA[0]/monomers[2]/14
$/angle:bytype139 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[2]/13 $/atom:PMMA[0]/monomers[2]/7 $/atom:PMMA[0]/monomers[2]/15
$/angle:bytype140 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[2]/14 $/atom:PMMA[0]/monomers[2]/7 $/atom:PMMA[0]/monomers[2]/15
$/angle:bytype141 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[3]/13 $/atom:PMMA[0]/monomers[3]/7 $/atom:PMMA[0]/monomers[3]/14
$/angle:bytype142 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[3]/13 $/atom:PMMA[0]/monomers[3]/7 $/atom:PMMA[0]/monomers[3]/15
$/angle:bytype143 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[3]/14 $/atom:PMMA[0]/monomers[3]/7 $/atom:PMMA[0]/monomers[3]/15
$/angle:bytype144 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[4]/13 $/atom:PMMA[0]/monomers[4]/7 $/atom:PMMA[0]/monomers[4]/14
$/angle:bytype145 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[4]/13 $/atom:PMMA[0]/monomers[4]/7 $/atom:PMMA[0]/monomers[4]/15
$/angle:bytype146 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[4]/14 $/atom:PMMA[0]/monomers[4]/7 $/atom:PMMA[0]/monomers[4]/15
$/angle:bytype147 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[5]/13 $/atom:PMMA[0]/monomers[5]/7 $/atom:PMMA[0]/monomers[5]/14
$/angle:bytype148 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[5]/13 $/atom:PMMA[0]/monomers[5]/7 $/atom:PMMA[0]/monomers[5]/15
$/angle:bytype149 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[5]/14 $/atom:PMMA[0]/monomers[5]/7 $/atom:PMMA[0]/monomers[5]/15
$/angle:bytype150 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[6]/13 $/atom:PMMA[0]/monomers[6]/7 $/atom:PMMA[0]/monomers[6]/14
$/angle:bytype151 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[6]/13 $/atom:PMMA[0]/monomers[6]/7 $/atom:PMMA[0]/monomers[6]/15
$/angle:bytype152 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[6]/14 $/atom:PMMA[0]/monomers[6]/7 $/atom:PMMA[0]/monomers[6]/15
$/angle:bytype153 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[7]/13 $/atom:PMMA[0]/monomers[7]/7 $/atom:PMMA[0]/monomers[7]/14
$/angle:bytype154 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[7]/13 $/atom:PMMA[0]/monomers[7]/7 $/atom:PMMA[0]/monomers[7]/15
$/angle:bytype155 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[7]/14 $/atom:PMMA[0]/monomers[7]/7 $/atom:PMMA[0]/monomers[7]/15
$/angle:bytype156 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[8]/13 $/atom:PMMA[0]/monomers[8]/7 $/atom:PMMA[0]/monomers[8]/14
$/angle:bytype157 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[8]/13 $/atom:PMMA[0]/monomers[8]/7 $/atom:PMMA[0]/monomers[8]/15
$/angle:bytype158 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[8]/14 $/atom:PMMA[0]/monomers[8]/7 $/atom:PMMA[0]/monomers[8]/15
$/angle:bytype159 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[0]/13 $/atom:PMMA[0]/monomers[0]/7 $/atom:PMMA[0]/monomers[0]/14
$/angle:bytype160 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[0]/13 $/atom:PMMA[0]/monomers[0]/7 $/atom:PMMA[0]/monomers[0]/15
$/angle:bytype161 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[0]/14 $/atom:PMMA[0]/monomers[0]/7 $/atom:PMMA[0]/monomers[0]/15
$/angle:bytype162 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[9]/13 $/atom:PMMA[0]/monomers[9]/7 $/atom:PMMA[0]/monomers[9]/14
$/angle:bytype163 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[9]/13 $/atom:PMMA[0]/monomers[9]/7 $/atom:PMMA[0]/monomers[9]/15
$/angle:bytype164 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[9]/14 $/atom:PMMA[0]/monomers[9]/7 $/atom:PMMA[0]/monomers[9]/15
$/angle:bytype165 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[0]/8 $/atom:PMMA[0]/monomers[0]/1 $/atom:PMMA[0]/monomers[0]/9
$/angle:bytype166 @/angle:OPLSAA/046_013_046 $/atom:PMMA[0]/monomers[9]/8 $/atom:PMMA[0]/monomers[9]/1 $/atom:PMMA[0]/monomers[9]/9
$/angle:bytype167 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[1]/6 $/atom:PMMA[0]/monomers[1]/7 $/atom:PMMA[0]/monomers[1]/13
$/angle:bytype168 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[1]/6 $/atom:PMMA[0]/monomers[1]/7 $/atom:PMMA[0]/monomers[1]/14
$/angle:bytype169 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[1]/6 $/atom:PMMA[0]/monomers[1]/7 $/atom:PMMA[0]/monomers[1]/15
$/angle:bytype170 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[2]/6 $/atom:PMMA[0]/monomers[2]/7 $/atom:PMMA[0]/monomers[2]/13
$/angle:bytype171 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[2]/6 $/atom:PMMA[0]/monomers[2]/7 $/atom:PMMA[0]/monomers[2]/14
$/angle:bytype172 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[2]/6 $/atom:PMMA[0]/monomers[2]/7 $/atom:PMMA[0]/monomers[2]/15
$/angle:bytype173 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[3]/6 $/atom:PMMA[0]/monomers[3]/7 $/atom:PMMA[0]/monomers[3]/13
$/angle:bytype174 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[3]/6 $/atom:PMMA[0]/monomers[3]/7 $/atom:PMMA[0]/monomers[3]/14
$/angle:bytype175 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[3]/6 $/atom:PMMA[0]/monomers[3]/7 $/atom:PMMA[0]/monomers[3]/15
$/angle:bytype176 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[4]/6 $/atom:PMMA[0]/monomers[4]/7 $/atom:PMMA[0]/monomers[4]/13
$/angle:bytype177 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[4]/6 $/atom:PMMA[0]/monomers[4]/7 $/atom:PMMA[0]/monomers[4]/14
$/angle:bytype178 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[4]/6 $/atom:PMMA[0]/monomers[4]/7 $/atom:PMMA[0]/monomers[4]/15
$/angle:bytype179 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[5]/6 $/atom:PMMA[0]/monomers[5]/7 $/atom:PMMA[0]/monomers[5]/13
$/angle:bytype180 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[5]/6 $/atom:PMMA[0]/monomers[5]/7 $/atom:PMMA[0]/monomers[5]/14
$/angle:bytype181 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[5]/6 $/atom:PMMA[0]/monomers[5]/7 $/atom:PMMA[0]/monomers[5]/15
$/angle:bytype182 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[6]/6 $/atom:PMMA[0]/monomers[6]/7 $/atom:PMMA[0]/monomers[6]/13
$/angle:bytype183 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[6]/6 $/atom:PMMA[0]/monomers[6]/7 $/atom:PMMA[0]/monomers[6]/14
$/angle:bytype184 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[6]/6 $/atom:PMMA[0]/monomers[6]/7 $/atom:PMMA[0]/monomers[6]/15
$/angle:bytype185 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[7]/6 $/atom:PMMA[0]/monomers[7]/7 $/atom:PMMA[0]/monomers[7]/13
$/angle:bytype186 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[7]/6 $/atom:PMMA[0]/monomers[7]/7 $/atom:PMMA[0]/monomers[7]/14
$/angle:bytype187 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[7]/6 $/atom:PMMA[0]/monomers[7]/7 $/atom:PMMA[0]/monomers[7]/15
$/angle:bytype188 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[8]/6 $/atom:PMMA[0]/monomers[8]/7 $/atom:PMMA[0]/monomers[8]/13
$/angle:bytype189 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[8]/6 $/atom:PMMA[0]/monomers[8]/7 $/atom:PMMA[0]/monomers[8]/14
$/angle:bytype190 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[8]/6 $/atom:PMMA[0]/monomers[8]/7 $/atom:PMMA[0]/monomers[8]/15
$/angle:bytype191 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[0]/6 $/atom:PMMA[0]/monomers[0]/7 $/atom:PMMA[0]/monomers[0]/13
$/angle:bytype192 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[0]/6 $/atom:PMMA[0]/monomers[0]/7 $/atom:PMMA[0]/monomers[0]/14
$/angle:bytype193 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[0]/6 $/atom:PMMA[0]/monomers[0]/7 $/atom:PMMA[0]/monomers[0]/15
$/angle:bytype194 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[9]/6 $/atom:PMMA[0]/monomers[9]/7 $/atom:PMMA[0]/monomers[9]/13
$/angle:bytype195 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[9]/6 $/atom:PMMA[0]/monomers[9]/7 $/atom:PMMA[0]/monomers[9]/14
$/angle:bytype196 @/angle:OPLSAA/020_013_046 $/atom:PMMA[0]/monomers[9]/6 $/atom:PMMA[0]/monomers[9]/7 $/atom:PMMA[0]/monomers[9]/15
$/angle:bytype197 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[1]/1 $/atom:PMMA[0]/monomers[1]/8
$/angle:bytype198 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[1]/1 $/atom:PMMA[0]/monomers[1]/9
$/angle:bytype199 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[2]/2 $/atom:PMMA[0]/monomers[2]/1 $/atom:PMMA[0]/monomers[2]/8
$/angle:bytype200 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[2]/2 $/atom:PMMA[0]/monomers[2]/1 $/atom:PMMA[0]/monomers[2]/9
$/angle:bytype201 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[1]/8 $/atom:PMMA[0]/monomers[1]/1 $/atom:PMMA[0]/monomers[2]/2
$/angle:bytype202 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[1]/9 $/atom:PMMA[0]/monomers[1]/1 $/atom:PMMA[0]/monomers[2]/2
$/angle:bytype203 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[3]/2 $/atom:PMMA[0]/monomers[3]/1 $/atom:PMMA[0]/monomers[3]/8
$/angle:bytype204 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[3]/2 $/atom:PMMA[0]/monomers[3]/1 $/atom:PMMA[0]/monomers[3]/9
$/angle:bytype205 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[2]/8 $/atom:PMMA[0]/monomers[2]/1 $/atom:PMMA[0]/monomers[3]/2
$/angle:bytype206 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[2]/9 $/atom:PMMA[0]/monomers[2]/1 $/atom:PMMA[0]/monomers[3]/2
$/angle:bytype207 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[4]/2 $/atom:PMMA[0]/monomers[4]/1 $/atom:PMMA[0]/monomers[4]/8
$/angle:bytype208 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[4]/2 $/atom:PMMA[0]/monomers[4]/1 $/atom:PMMA[0]/monomers[4]/9
$/angle:bytype209 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[3]/8 $/atom:PMMA[0]/monomers[3]/1 $/atom:PMMA[0]/monomers[4]/2
$/angle:bytype210 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[3]/9 $/atom:PMMA[0]/monomers[3]/1 $/atom:PMMA[0]/monomers[4]/2
$/angle:bytype211 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[5]/2 $/atom:PMMA[0]/monomers[5]/1 $/atom:PMMA[0]/monomers[5]/8
$/angle:bytype212 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[5]/2 $/atom:PMMA[0]/monomers[5]/1 $/atom:PMMA[0]/monomers[5]/9
$/angle:bytype213 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[4]/8 $/atom:PMMA[0]/monomers[4]/1 $/atom:PMMA[0]/monomers[5]/2
$/angle:bytype214 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[4]/9 $/atom:PMMA[0]/monomers[4]/1 $/atom:PMMA[0]/monomers[5]/2
$/angle:bytype215 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[6]/2 $/atom:PMMA[0]/monomers[6]/1 $/atom:PMMA[0]/monomers[6]/8
$/angle:bytype216 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[6]/2 $/atom:PMMA[0]/monomers[6]/1 $/atom:PMMA[0]/monomers[6]/9
$/angle:bytype217 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[5]/8 $/atom:PMMA[0]/monomers[5]/1 $/atom:PMMA[0]/monomers[6]/2
$/angle:bytype218 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[5]/9 $/atom:PMMA[0]/monomers[5]/1 $/atom:PMMA[0]/monomers[6]/2
$/angle:bytype219 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[7]/2 $/atom:PMMA[0]/monomers[7]/1 $/atom:PMMA[0]/monomers[7]/8
$/angle:bytype220 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[7]/2 $/atom:PMMA[0]/monomers[7]/1 $/atom:PMMA[0]/monomers[7]/9
$/angle:bytype221 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[6]/8 $/atom:PMMA[0]/monomers[6]/1 $/atom:PMMA[0]/monomers[7]/2
$/angle:bytype222 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[6]/9 $/atom:PMMA[0]/monomers[6]/1 $/atom:PMMA[0]/monomers[7]/2
$/angle:bytype223 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[8]/2 $/atom:PMMA[0]/monomers[8]/1 $/atom:PMMA[0]/monomers[8]/8
$/angle:bytype224 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[8]/2 $/atom:PMMA[0]/monomers[8]/1 $/atom:PMMA[0]/monomers[8]/9
$/angle:bytype225 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[7]/8 $/atom:PMMA[0]/monomers[7]/1 $/atom:PMMA[0]/monomers[8]/2
$/angle:bytype226 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[7]/9 $/atom:PMMA[0]/monomers[7]/1 $/atom:PMMA[0]/monomers[8]/2
$/angle:bytype227 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[1]/3 $/atom:PMMA[0]/monomers[1]/10
$/angle:bytype228 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[1]/3 $/atom:PMMA[0]/monomers[1]/11
$/angle:bytype229 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[1]/3 $/atom:PMMA[0]/monomers[1]/12
$/angle:bytype230 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[2]/2 $/atom:PMMA[0]/monomers[2]/3 $/atom:PMMA[0]/monomers[2]/10
$/angle:bytype231 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[2]/2 $/atom:PMMA[0]/monomers[2]/3 $/atom:PMMA[0]/monomers[2]/11
$/angle:bytype232 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[2]/2 $/atom:PMMA[0]/monomers[2]/3 $/atom:PMMA[0]/monomers[2]/12
$/angle:bytype233 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[3]/2 $/atom:PMMA[0]/monomers[3]/3 $/atom:PMMA[0]/monomers[3]/10
$/angle:bytype234 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[3]/2 $/atom:PMMA[0]/monomers[3]/3 $/atom:PMMA[0]/monomers[3]/11
$/angle:bytype235 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[3]/2 $/atom:PMMA[0]/monomers[3]/3 $/atom:PMMA[0]/monomers[3]/12
$/angle:bytype236 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[4]/2 $/atom:PMMA[0]/monomers[4]/3 $/atom:PMMA[0]/monomers[4]/10
$/angle:bytype237 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[4]/2 $/atom:PMMA[0]/monomers[4]/3 $/atom:PMMA[0]/monomers[4]/11
$/angle:bytype238 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[4]/2 $/atom:PMMA[0]/monomers[4]/3 $/atom:PMMA[0]/monomers[4]/12
$/angle:bytype239 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[5]/2 $/atom:PMMA[0]/monomers[5]/3 $/atom:PMMA[0]/monomers[5]/10
$/angle:bytype240 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[5]/2 $/atom:PMMA[0]/monomers[5]/3 $/atom:PMMA[0]/monomers[5]/11
$/angle:bytype241 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[5]/2 $/atom:PMMA[0]/monomers[5]/3 $/atom:PMMA[0]/monomers[5]/12
$/angle:bytype242 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[6]/2 $/atom:PMMA[0]/monomers[6]/3 $/atom:PMMA[0]/monomers[6]/10
$/angle:bytype243 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[6]/2 $/atom:PMMA[0]/monomers[6]/3 $/atom:PMMA[0]/monomers[6]/11
$/angle:bytype244 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[6]/2 $/atom:PMMA[0]/monomers[6]/3 $/atom:PMMA[0]/monomers[6]/12
$/angle:bytype245 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[7]/2 $/atom:PMMA[0]/monomers[7]/3 $/atom:PMMA[0]/monomers[7]/10
$/angle:bytype246 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[7]/2 $/atom:PMMA[0]/monomers[7]/3 $/atom:PMMA[0]/monomers[7]/11
$/angle:bytype247 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[7]/2 $/atom:PMMA[0]/monomers[7]/3 $/atom:PMMA[0]/monomers[7]/12
$/angle:bytype248 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[8]/2 $/atom:PMMA[0]/monomers[8]/3 $/atom:PMMA[0]/monomers[8]/10
$/angle:bytype249 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[8]/2 $/atom:PMMA[0]/monomers[8]/3 $/atom:PMMA[0]/monomers[8]/11
$/angle:bytype250 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[8]/2 $/atom:PMMA[0]/monomers[8]/3 $/atom:PMMA[0]/monomers[8]/12
$/angle:bytype251 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[0]/1 $/atom:PMMA[0]/monomers[0]/8
$/angle:bytype252 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[1]/2 $/atom:PMMA[0]/monomers[0]/1 $/atom:PMMA[0]/monomers[0]/9
$/angle:bytype253 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[0]/2 $/atom:PMMA[0]/monomers[0]/1 $/atom:PMMA[0]/monomers[0]/8
$/angle:bytype254 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[0]/2 $/atom:PMMA[0]/monomers[0]/1 $/atom:PMMA[0]/monomers[0]/9
$/angle:bytype255 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[9]/2 $/atom:PMMA[0]/monomers[9]/1 $/atom:PMMA[0]/monomers[9]/8
$/angle:bytype256 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[9]/2 $/atom:PMMA[0]/monomers[9]/1 $/atom:PMMA[0]/monomers[9]/9
$/angle:bytype257 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[0]/2 $/atom:PMMA[0]/monomers[0]/3 $/atom:PMMA[0]/monomers[0]/10
$/angle:bytype258 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[0]/2 $/atom:PMMA[0]/monomers[0]/3 $/atom:PMMA[0]/monomers[0]/11
$/angle:bytype259 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[0]/2 $/atom:PMMA[0]/monomers[0]/3 $/atom:PMMA[0]/monomers[0]/12
$/angle:bytype260 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[9]/2 $/atom:PMMA[0]/monomers[9]/3 $/atom:PMMA[0]/monomers[9]/10
$/angle:bytype261 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[9]/2 $/atom:PMMA[0]/monomers[9]/3 $/atom:PMMA[0]/monomers[9]/11
$/angle:bytype262 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[9]/2 $/atom:PMMA[0]/monomers[9]/3 $/atom:PMMA[0]/monomers[9]/12
$/angle:bytype263 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[8]/8 $/atom:PMMA[0]/monomers[8]/1 $/atom:PMMA[0]/monomers[9]/2
$/angle:bytype264 @/angle:OPLSAA/013_013_046 $/atom:PMMA[0]/monomers[8]/9 $/atom:PMMA[0]/monomers[8]/1 $/atom:PMMA[0]/monomers[9]/2
$/angle:bytype265 @/angle:OPLSAA/003_020_013 $/atom:PMMA[0]/monomers[1]/4 $/atom:PMMA[0]/monomers[1]/6 $/atom:PMMA[0]/monomers[1]/7
$/angle:bytype266 @/angle:OPLSAA/003_020_013 $/atom:PMMA[0]/monomers[2]/4 $/atom:PMMA[0]/monomers[2]/6 $/atom:PMMA[0]/monomers[2]/7
$/angle:bytype267 @/angle:OPLSAA/003_020_013 $/atom:PMMA[0]/monomers[3]/4 $/atom:PMMA[0]/monomers[3]/6 $/atom:PMMA[0]/monomers[3]/7
$/angle:bytype268 @/angle:OPLSAA/003_020_013 $/atom:PMMA[0]/monomers[4]/4 $/atom:PMMA[0]/monomers[4]/6 $/atom:PMMA[0]/monomers[4]/7
$/angle:bytype269 @/angle:OPLSAA/003_020_013 $/atom:PMMA[0]/monomers[5]/4 $/atom:PMMA[0]/monomers[5]/6 $/atom:PMMA[0]/monomers[5]/7
$/angle:bytype270 @/angle:OPLSAA/003_020_013 $/atom:PMMA[0]/monomers[6]/4 $/atom:PMMA[0]/monomers[6]/6 $/atom:PMMA[0]/monomers[6]/7
$/angle:bytype271 @/angle:OPLSAA/003_020_013 $/atom:PMMA[0]/monomers[7]/4 $/atom:PMMA[0]/monomers[7]/6 $/atom:PMMA[0]/monomers[7]/7
$/angle:bytype272 @/angle:OPLSAA/003_020_013 $/atom:PMMA[0]/monomers[8]/4 $/atom:PMMA[0]/monomers[8]/6 $/atom:PMMA[0]/monomers[8]/7
$/angle:bytype273 @/angle:OPLSAA/003_020_013 $/atom:PMMA[0]/monomers[0]/4 $/atom:PMMA[0]/monomers[0]/6 $/atom:PMMA[0]/monomers[0]/7
$/angle:bytype274 @/angle:OPLSAA/003_020_013 $/atom:PMMA[0]/monomers[9]/4 $/atom:PMMA[0]/monomers[9]/6 $/atom:PMMA[0]/monomers[9]/7
