$/angle:bytype1 @/angle:OPLSAA/004_003_020 $/atom:VC[0][0][0]/3 $/atom:VC[0][0][0]/4 $/atom:VC[0][0][0]/5
$/angle:bytype2 @/angle:OPLSAA/004_003_020 $/atom:VC[0][0][0]/5 $/atom:VC[0][0][0]/4 $/atom:VC[0][0][0]/6
$/angle:bytype3 @/angle:OPLSAA/020_047_046 $/atom:VC[0][0][0]/3 $/atom:VC[0][0][0]/2 $/atom:VC[0][0][0]/8
$/angle:bytype4 @/angle:OPLSAA/020_047_046 $/atom:VC[0][0][0]/6 $/atom:VC[0][0][0]/1 $/atom:VC[0][0][0]/7
$/angle:bytype5 @/angle:OPLSAA/046_047_047 $/atom:VC[0][0][0]/2 $/atom:VC[0][0][0]/1 $/atom:VC[0][0][0]/7
$/angle:bytype6 @/angle:OPLSAA/046_047_047 $/atom:VC[0][0][0]/1 $/atom:VC[0][0][0]/2 $/atom:VC[0][0][0]/8
$/angle:bytype7 @/angle:OPLSAA/020_047_047 $/atom:VC[0][0][0]/1 $/atom:VC[0][0][0]/2 $/atom:VC[0][0][0]/3
$/angle:bytype8 @/angle:OPLSAA/020_047_047 $/atom:VC[0][0][0]/2 $/atom:VC[0][0][0]/1 $/atom:VC[0][0][0]/6
