$/improper:bytype1 @/improper:OPLSAA/X_X_003_004 $/atom:VC[0][0][0]/3 $/atom:VC[0][0][0]/6 $/atom:VC[0][0][0]/4 $/atom:VC[0][0][0]/5
$/improper:bytype2 @/improper:OPLSAA/X_X_003_004 $/atom:VC[0][0][0]/5 $/atom:VC[0][0][0]/3 $/atom:VC[0][0][0]/4 $/atom:VC[0][0][0]/6
$/improper:bytype3 @/improper:OPLSAA/X_X_047_X $/atom:VC[0][0][0]/1 $/atom:VC[0][0][0]/3 $/atom:VC[0][0][0]/2 $/atom:VC[0][0][0]/8
$/improper:bytype4 @/improper:OPLSAA/X_X_047_X $/atom:VC[0][0][0]/2 $/atom:VC[0][0][0]/6 $/atom:VC[0][0][0]/1 $/atom:VC[0][0][0]/7
$/improper:bytype5 @/improper:OPLSAA/X_X_047_X $/atom:VC[0][0][0]/1 $/atom:VC[0][0][0]/8 $/atom:VC[0][0][0]/2 $/atom:VC[0][0][0]/3
$/improper:bytype6 @/improper:OPLSAA/X_X_047_X $/atom:VC[0][0][0]/2 $/atom:VC[0][0][0]/7 $/atom:VC[0][0][0]/1 $/atom:VC[0][0][0]/6
$/improper:bytype7 @/improper:OPLSAA/X_X_047_X $/atom:VC[0][0][0]/3 $/atom:VC[0][0][0]/1 $/atom:VC[0][0][0]/2 $/atom:VC[0][0][0]/8
$/improper:bytype8 @/improper:OPLSAA/X_X_047_X $/atom:VC[0][0][0]/6 $/atom:VC[0][0][0]/2 $/atom:VC[0][0][0]/1 $/atom:VC[0][0][0]/7
