        $/bond:PMMA[0]/monomers[0]/1    $/atom:PMMA[0]/monomers[0]/1    $/atom:PMMA[0]/monomers[0]/2
        $/bond:PMMA[0]/monomers[0]/2    $/atom:PMMA[0]/monomers[0]/2    $/atom:PMMA[0]/monomers[0]/3
        $/bond:PMMA[0]/monomers[0]/3    $/atom:PMMA[0]/monomers[0]/2    $/atom:PMMA[0]/monomers[0]/4
        $/bond:PMMA[0]/monomers[0]/4    $/atom:PMMA[0]/monomers[0]/4    $/atom:PMMA[0]/monomers[0]/5
        $/bond:PMMA[0]/monomers[0]/5    $/atom:PMMA[0]/monomers[0]/4    $/atom:PMMA[0]/monomers[0]/6
        $/bond:PMMA[0]/monomers[0]/6    $/atom:PMMA[0]/monomers[0]/6    $/atom:PMMA[0]/monomers[0]/7
        $/bond:PMMA[0]/monomers[0]/7    $/atom:PMMA[0]/monomers[0]/1    $/atom:PMMA[0]/monomers[0]/8
        $/bond:PMMA[0]/monomers[0]/8    $/atom:PMMA[0]/monomers[0]/1    $/atom:PMMA[0]/monomers[0]/9
        $/bond:PMMA[0]/monomers[0]/9    $/atom:PMMA[0]/monomers[0]/3    $/atom:PMMA[0]/monomers[0]/10
        $/bond:PMMA[0]/monomers[0]/10    $/atom:PMMA[0]/monomers[0]/3    $/atom:PMMA[0]/monomers[0]/11
        $/bond:PMMA[0]/monomers[0]/11    $/atom:PMMA[0]/monomers[0]/3    $/atom:PMMA[0]/monomers[0]/12
        $/bond:PMMA[0]/monomers[0]/12    $/atom:PMMA[0]/monomers[0]/7    $/atom:PMMA[0]/monomers[0]/13
        $/bond:PMMA[0]/monomers[0]/13    $/atom:PMMA[0]/monomers[0]/7    $/atom:PMMA[0]/monomers[0]/14
        $/bond:PMMA[0]/monomers[0]/14    $/atom:PMMA[0]/monomers[0]/7    $/atom:PMMA[0]/monomers[0]/15
        $/bond:PMMA[0]/monomers[1]/1    $/atom:PMMA[0]/monomers[1]/1    $/atom:PMMA[0]/monomers[1]/2
        $/bond:PMMA[0]/monomers[1]/2    $/atom:PMMA[0]/monomers[1]/2    $/atom:PMMA[0]/monomers[1]/3
        $/bond:PMMA[0]/monomers[1]/3    $/atom:PMMA[0]/monomers[1]/2    $/atom:PMMA[0]/monomers[1]/4
        $/bond:PMMA[0]/monomers[1]/4    $/atom:PMMA[0]/monomers[1]/4    $/atom:PMMA[0]/monomers[1]/5
        $/bond:PMMA[0]/monomers[1]/5    $/atom:PMMA[0]/monomers[1]/4    $/atom:PMMA[0]/monomers[1]/6
        $/bond:PMMA[0]/monomers[1]/6    $/atom:PMMA[0]/monomers[1]/6    $/atom:PMMA[0]/monomers[1]/7
        $/bond:PMMA[0]/monomers[1]/7    $/atom:PMMA[0]/monomers[1]/1    $/atom:PMMA[0]/monomers[1]/8
        $/bond:PMMA[0]/monomers[1]/8    $/atom:PMMA[0]/monomers[1]/1    $/atom:PMMA[0]/monomers[1]/9
        $/bond:PMMA[0]/monomers[1]/9    $/atom:PMMA[0]/monomers[1]/3    $/atom:PMMA[0]/monomers[1]/10
        $/bond:PMMA[0]/monomers[1]/10    $/atom:PMMA[0]/monomers[1]/3    $/atom:PMMA[0]/monomers[1]/11
        $/bond:PMMA[0]/monomers[1]/11    $/atom:PMMA[0]/monomers[1]/3    $/atom:PMMA[0]/monomers[1]/12
        $/bond:PMMA[0]/monomers[1]/12    $/atom:PMMA[0]/monomers[1]/7    $/atom:PMMA[0]/monomers[1]/13
        $/bond:PMMA[0]/monomers[1]/13    $/atom:PMMA[0]/monomers[1]/7    $/atom:PMMA[0]/monomers[1]/14
        $/bond:PMMA[0]/monomers[1]/14    $/atom:PMMA[0]/monomers[1]/7    $/atom:PMMA[0]/monomers[1]/15
        $/bond:PMMA[0]/monomers[2]/1    $/atom:PMMA[0]/monomers[2]/1    $/atom:PMMA[0]/monomers[2]/2
        $/bond:PMMA[0]/monomers[2]/2    $/atom:PMMA[0]/monomers[2]/2    $/atom:PMMA[0]/monomers[2]/3
        $/bond:PMMA[0]/monomers[2]/3    $/atom:PMMA[0]/monomers[2]/2    $/atom:PMMA[0]/monomers[2]/4
        $/bond:PMMA[0]/monomers[2]/4    $/atom:PMMA[0]/monomers[2]/4    $/atom:PMMA[0]/monomers[2]/5
        $/bond:PMMA[0]/monomers[2]/5    $/atom:PMMA[0]/monomers[2]/4    $/atom:PMMA[0]/monomers[2]/6
        $/bond:PMMA[0]/monomers[2]/6    $/atom:PMMA[0]/monomers[2]/6    $/atom:PMMA[0]/monomers[2]/7
        $/bond:PMMA[0]/monomers[2]/7    $/atom:PMMA[0]/monomers[2]/1    $/atom:PMMA[0]/monomers[2]/8
        $/bond:PMMA[0]/monomers[2]/8    $/atom:PMMA[0]/monomers[2]/1    $/atom:PMMA[0]/monomers[2]/9
        $/bond:PMMA[0]/monomers[2]/9    $/atom:PMMA[0]/monomers[2]/3    $/atom:PMMA[0]/monomers[2]/10
        $/bond:PMMA[0]/monomers[2]/10    $/atom:PMMA[0]/monomers[2]/3    $/atom:PMMA[0]/monomers[2]/11
        $/bond:PMMA[0]/monomers[2]/11    $/atom:PMMA[0]/monomers[2]/3    $/atom:PMMA[0]/monomers[2]/12
        $/bond:PMMA[0]/monomers[2]/12    $/atom:PMMA[0]/monomers[2]/7    $/atom:PMMA[0]/monomers[2]/13
        $/bond:PMMA[0]/monomers[2]/13    $/atom:PMMA[0]/monomers[2]/7    $/atom:PMMA[0]/monomers[2]/14
        $/bond:PMMA[0]/monomers[2]/14    $/atom:PMMA[0]/monomers[2]/7    $/atom:PMMA[0]/monomers[2]/15
        $/bond:PMMA[0]/monomers[3]/1    $/atom:PMMA[0]/monomers[3]/1    $/atom:PMMA[0]/monomers[3]/2
        $/bond:PMMA[0]/monomers[3]/2    $/atom:PMMA[0]/monomers[3]/2    $/atom:PMMA[0]/monomers[3]/3
        $/bond:PMMA[0]/monomers[3]/3    $/atom:PMMA[0]/monomers[3]/2    $/atom:PMMA[0]/monomers[3]/4
        $/bond:PMMA[0]/monomers[3]/4    $/atom:PMMA[0]/monomers[3]/4    $/atom:PMMA[0]/monomers[3]/5
        $/bond:PMMA[0]/monomers[3]/5    $/atom:PMMA[0]/monomers[3]/4    $/atom:PMMA[0]/monomers[3]/6
        $/bond:PMMA[0]/monomers[3]/6    $/atom:PMMA[0]/monomers[3]/6    $/atom:PMMA[0]/monomers[3]/7
        $/bond:PMMA[0]/monomers[3]/7    $/atom:PMMA[0]/monomers[3]/1    $/atom:PMMA[0]/monomers[3]/8
        $/bond:PMMA[0]/monomers[3]/8    $/atom:PMMA[0]/monomers[3]/1    $/atom:PMMA[0]/monomers[3]/9
        $/bond:PMMA[0]/monomers[3]/9    $/atom:PMMA[0]/monomers[3]/3    $/atom:PMMA[0]/monomers[3]/10
        $/bond:PMMA[0]/monomers[3]/10    $/atom:PMMA[0]/monomers[3]/3    $/atom:PMMA[0]/monomers[3]/11
        $/bond:PMMA[0]/monomers[3]/11    $/atom:PMMA[0]/monomers[3]/3    $/atom:PMMA[0]/monomers[3]/12
        $/bond:PMMA[0]/monomers[3]/12    $/atom:PMMA[0]/monomers[3]/7    $/atom:PMMA[0]/monomers[3]/13
        $/bond:PMMA[0]/monomers[3]/13    $/atom:PMMA[0]/monomers[3]/7    $/atom:PMMA[0]/monomers[3]/14
        $/bond:PMMA[0]/monomers[3]/14    $/atom:PMMA[0]/monomers[3]/7    $/atom:PMMA[0]/monomers[3]/15
        $/bond:PMMA[0]/monomers[4]/1    $/atom:PMMA[0]/monomers[4]/1    $/atom:PMMA[0]/monomers[4]/2
        $/bond:PMMA[0]/monomers[4]/2    $/atom:PMMA[0]/monomers[4]/2    $/atom:PMMA[0]/monomers[4]/3
        $/bond:PMMA[0]/monomers[4]/3    $/atom:PMMA[0]/monomers[4]/2    $/atom:PMMA[0]/monomers[4]/4
        $/bond:PMMA[0]/monomers[4]/4    $/atom:PMMA[0]/monomers[4]/4    $/atom:PMMA[0]/monomers[4]/5
        $/bond:PMMA[0]/monomers[4]/5    $/atom:PMMA[0]/monomers[4]/4    $/atom:PMMA[0]/monomers[4]/6
        $/bond:PMMA[0]/monomers[4]/6    $/atom:PMMA[0]/monomers[4]/6    $/atom:PMMA[0]/monomers[4]/7
        $/bond:PMMA[0]/monomers[4]/7    $/atom:PMMA[0]/monomers[4]/1    $/atom:PMMA[0]/monomers[4]/8
        $/bond:PMMA[0]/monomers[4]/8    $/atom:PMMA[0]/monomers[4]/1    $/atom:PMMA[0]/monomers[4]/9
        $/bond:PMMA[0]/monomers[4]/9    $/atom:PMMA[0]/monomers[4]/3    $/atom:PMMA[0]/monomers[4]/10
        $/bond:PMMA[0]/monomers[4]/10    $/atom:PMMA[0]/monomers[4]/3    $/atom:PMMA[0]/monomers[4]/11
        $/bond:PMMA[0]/monomers[4]/11    $/atom:PMMA[0]/monomers[4]/3    $/atom:PMMA[0]/monomers[4]/12
        $/bond:PMMA[0]/monomers[4]/12    $/atom:PMMA[0]/monomers[4]/7    $/atom:PMMA[0]/monomers[4]/13
        $/bond:PMMA[0]/monomers[4]/13    $/atom:PMMA[0]/monomers[4]/7    $/atom:PMMA[0]/monomers[4]/14
        $/bond:PMMA[0]/monomers[4]/14    $/atom:PMMA[0]/monomers[4]/7    $/atom:PMMA[0]/monomers[4]/15
        $/bond:PMMA[0]/monomers[5]/1    $/atom:PMMA[0]/monomers[5]/1    $/atom:PMMA[0]/monomers[5]/2
        $/bond:PMMA[0]/monomers[5]/2    $/atom:PMMA[0]/monomers[5]/2    $/atom:PMMA[0]/monomers[5]/3
        $/bond:PMMA[0]/monomers[5]/3    $/atom:PMMA[0]/monomers[5]/2    $/atom:PMMA[0]/monomers[5]/4
        $/bond:PMMA[0]/monomers[5]/4    $/atom:PMMA[0]/monomers[5]/4    $/atom:PMMA[0]/monomers[5]/5
        $/bond:PMMA[0]/monomers[5]/5    $/atom:PMMA[0]/monomers[5]/4    $/atom:PMMA[0]/monomers[5]/6
        $/bond:PMMA[0]/monomers[5]/6    $/atom:PMMA[0]/monomers[5]/6    $/atom:PMMA[0]/monomers[5]/7
        $/bond:PMMA[0]/monomers[5]/7    $/atom:PMMA[0]/monomers[5]/1    $/atom:PMMA[0]/monomers[5]/8
        $/bond:PMMA[0]/monomers[5]/8    $/atom:PMMA[0]/monomers[5]/1    $/atom:PMMA[0]/monomers[5]/9
        $/bond:PMMA[0]/monomers[5]/9    $/atom:PMMA[0]/monomers[5]/3    $/atom:PMMA[0]/monomers[5]/10
        $/bond:PMMA[0]/monomers[5]/10    $/atom:PMMA[0]/monomers[5]/3    $/atom:PMMA[0]/monomers[5]/11
        $/bond:PMMA[0]/monomers[5]/11    $/atom:PMMA[0]/monomers[5]/3    $/atom:PMMA[0]/monomers[5]/12
        $/bond:PMMA[0]/monomers[5]/12    $/atom:PMMA[0]/monomers[5]/7    $/atom:PMMA[0]/monomers[5]/13
        $/bond:PMMA[0]/monomers[5]/13    $/atom:PMMA[0]/monomers[5]/7    $/atom:PMMA[0]/monomers[5]/14
        $/bond:PMMA[0]/monomers[5]/14    $/atom:PMMA[0]/monomers[5]/7    $/atom:PMMA[0]/monomers[5]/15
        $/bond:PMMA[0]/monomers[6]/1    $/atom:PMMA[0]/monomers[6]/1    $/atom:PMMA[0]/monomers[6]/2
        $/bond:PMMA[0]/monomers[6]/2    $/atom:PMMA[0]/monomers[6]/2    $/atom:PMMA[0]/monomers[6]/3
        $/bond:PMMA[0]/monomers[6]/3    $/atom:PMMA[0]/monomers[6]/2    $/atom:PMMA[0]/monomers[6]/4
        $/bond:PMMA[0]/monomers[6]/4    $/atom:PMMA[0]/monomers[6]/4    $/atom:PMMA[0]/monomers[6]/5
        $/bond:PMMA[0]/monomers[6]/5    $/atom:PMMA[0]/monomers[6]/4    $/atom:PMMA[0]/monomers[6]/6
        $/bond:PMMA[0]/monomers[6]/6    $/atom:PMMA[0]/monomers[6]/6    $/atom:PMMA[0]/monomers[6]/7
        $/bond:PMMA[0]/monomers[6]/7    $/atom:PMMA[0]/monomers[6]/1    $/atom:PMMA[0]/monomers[6]/8
        $/bond:PMMA[0]/monomers[6]/8    $/atom:PMMA[0]/monomers[6]/1    $/atom:PMMA[0]/monomers[6]/9
        $/bond:PMMA[0]/monomers[6]/9    $/atom:PMMA[0]/monomers[6]/3    $/atom:PMMA[0]/monomers[6]/10
        $/bond:PMMA[0]/monomers[6]/10    $/atom:PMMA[0]/monomers[6]/3    $/atom:PMMA[0]/monomers[6]/11
        $/bond:PMMA[0]/monomers[6]/11    $/atom:PMMA[0]/monomers[6]/3    $/atom:PMMA[0]/monomers[6]/12
        $/bond:PMMA[0]/monomers[6]/12    $/atom:PMMA[0]/monomers[6]/7    $/atom:PMMA[0]/monomers[6]/13
        $/bond:PMMA[0]/monomers[6]/13    $/atom:PMMA[0]/monomers[6]/7    $/atom:PMMA[0]/monomers[6]/14
        $/bond:PMMA[0]/monomers[6]/14    $/atom:PMMA[0]/monomers[6]/7    $/atom:PMMA[0]/monomers[6]/15
        $/bond:PMMA[0]/monomers[7]/1    $/atom:PMMA[0]/monomers[7]/1    $/atom:PMMA[0]/monomers[7]/2
        $/bond:PMMA[0]/monomers[7]/2    $/atom:PMMA[0]/monomers[7]/2    $/atom:PMMA[0]/monomers[7]/3
        $/bond:PMMA[0]/monomers[7]/3    $/atom:PMMA[0]/monomers[7]/2    $/atom:PMMA[0]/monomers[7]/4
        $/bond:PMMA[0]/monomers[7]/4    $/atom:PMMA[0]/monomers[7]/4    $/atom:PMMA[0]/monomers[7]/5
        $/bond:PMMA[0]/monomers[7]/5    $/atom:PMMA[0]/monomers[7]/4    $/atom:PMMA[0]/monomers[7]/6
        $/bond:PMMA[0]/monomers[7]/6    $/atom:PMMA[0]/monomers[7]/6    $/atom:PMMA[0]/monomers[7]/7
        $/bond:PMMA[0]/monomers[7]/7    $/atom:PMMA[0]/monomers[7]/1    $/atom:PMMA[0]/monomers[7]/8
        $/bond:PMMA[0]/monomers[7]/8    $/atom:PMMA[0]/monomers[7]/1    $/atom:PMMA[0]/monomers[7]/9
        $/bond:PMMA[0]/monomers[7]/9    $/atom:PMMA[0]/monomers[7]/3    $/atom:PMMA[0]/monomers[7]/10
        $/bond:PMMA[0]/monomers[7]/10    $/atom:PMMA[0]/monomers[7]/3    $/atom:PMMA[0]/monomers[7]/11
        $/bond:PMMA[0]/monomers[7]/11    $/atom:PMMA[0]/monomers[7]/3    $/atom:PMMA[0]/monomers[7]/12
        $/bond:PMMA[0]/monomers[7]/12    $/atom:PMMA[0]/monomers[7]/7    $/atom:PMMA[0]/monomers[7]/13
        $/bond:PMMA[0]/monomers[7]/13    $/atom:PMMA[0]/monomers[7]/7    $/atom:PMMA[0]/monomers[7]/14
        $/bond:PMMA[0]/monomers[7]/14    $/atom:PMMA[0]/monomers[7]/7    $/atom:PMMA[0]/monomers[7]/15
        $/bond:PMMA[0]/monomers[8]/1    $/atom:PMMA[0]/monomers[8]/1    $/atom:PMMA[0]/monomers[8]/2
        $/bond:PMMA[0]/monomers[8]/2    $/atom:PMMA[0]/monomers[8]/2    $/atom:PMMA[0]/monomers[8]/3
        $/bond:PMMA[0]/monomers[8]/3    $/atom:PMMA[0]/monomers[8]/2    $/atom:PMMA[0]/monomers[8]/4
        $/bond:PMMA[0]/monomers[8]/4    $/atom:PMMA[0]/monomers[8]/4    $/atom:PMMA[0]/monomers[8]/5
        $/bond:PMMA[0]/monomers[8]/5    $/atom:PMMA[0]/monomers[8]/4    $/atom:PMMA[0]/monomers[8]/6
        $/bond:PMMA[0]/monomers[8]/6    $/atom:PMMA[0]/monomers[8]/6    $/atom:PMMA[0]/monomers[8]/7
        $/bond:PMMA[0]/monomers[8]/7    $/atom:PMMA[0]/monomers[8]/1    $/atom:PMMA[0]/monomers[8]/8
        $/bond:PMMA[0]/monomers[8]/8    $/atom:PMMA[0]/monomers[8]/1    $/atom:PMMA[0]/monomers[8]/9
        $/bond:PMMA[0]/monomers[8]/9    $/atom:PMMA[0]/monomers[8]/3    $/atom:PMMA[0]/monomers[8]/10
        $/bond:PMMA[0]/monomers[8]/10    $/atom:PMMA[0]/monomers[8]/3    $/atom:PMMA[0]/monomers[8]/11
        $/bond:PMMA[0]/monomers[8]/11    $/atom:PMMA[0]/monomers[8]/3    $/atom:PMMA[0]/monomers[8]/12
        $/bond:PMMA[0]/monomers[8]/12    $/atom:PMMA[0]/monomers[8]/7    $/atom:PMMA[0]/monomers[8]/13
        $/bond:PMMA[0]/monomers[8]/13    $/atom:PMMA[0]/monomers[8]/7    $/atom:PMMA[0]/monomers[8]/14
        $/bond:PMMA[0]/monomers[8]/14    $/atom:PMMA[0]/monomers[8]/7    $/atom:PMMA[0]/monomers[8]/15
        $/bond:PMMA[0]/monomers[9]/1    $/atom:PMMA[0]/monomers[9]/1    $/atom:PMMA[0]/monomers[9]/2
        $/bond:PMMA[0]/monomers[9]/2    $/atom:PMMA[0]/monomers[9]/2    $/atom:PMMA[0]/monomers[9]/3
        $/bond:PMMA[0]/monomers[9]/3    $/atom:PMMA[0]/monomers[9]/2    $/atom:PMMA[0]/monomers[9]/4
        $/bond:PMMA[0]/monomers[9]/4    $/atom:PMMA[0]/monomers[9]/4    $/atom:PMMA[0]/monomers[9]/5
        $/bond:PMMA[0]/monomers[9]/5    $/atom:PMMA[0]/monomers[9]/4    $/atom:PMMA[0]/monomers[9]/6
        $/bond:PMMA[0]/monomers[9]/6    $/atom:PMMA[0]/monomers[9]/6    $/atom:PMMA[0]/monomers[9]/7
        $/bond:PMMA[0]/monomers[9]/7    $/atom:PMMA[0]/monomers[9]/1    $/atom:PMMA[0]/monomers[9]/8
        $/bond:PMMA[0]/monomers[9]/8    $/atom:PMMA[0]/monomers[9]/1    $/atom:PMMA[0]/monomers[9]/9
        $/bond:PMMA[0]/monomers[9]/9    $/atom:PMMA[0]/monomers[9]/3    $/atom:PMMA[0]/monomers[9]/10
        $/bond:PMMA[0]/monomers[9]/10    $/atom:PMMA[0]/monomers[9]/3    $/atom:PMMA[0]/monomers[9]/11
        $/bond:PMMA[0]/monomers[9]/11    $/atom:PMMA[0]/monomers[9]/3    $/atom:PMMA[0]/monomers[9]/12
        $/bond:PMMA[0]/monomers[9]/12    $/atom:PMMA[0]/monomers[9]/7    $/atom:PMMA[0]/monomers[9]/13
        $/bond:PMMA[0]/monomers[9]/13    $/atom:PMMA[0]/monomers[9]/7    $/atom:PMMA[0]/monomers[9]/14
        $/bond:PMMA[0]/monomers[9]/14    $/atom:PMMA[0]/monomers[9]/7    $/atom:PMMA[0]/monomers[9]/15
        $/bond:PMMA[0]/monomers[10]/1    $/atom:PMMA[0]/monomers[10]/1    $/atom:PMMA[0]/monomers[10]/2
        $/bond:PMMA[0]/monomers[10]/2    $/atom:PMMA[0]/monomers[10]/2    $/atom:PMMA[0]/monomers[10]/3
        $/bond:PMMA[0]/monomers[10]/3    $/atom:PMMA[0]/monomers[10]/2    $/atom:PMMA[0]/monomers[10]/4
        $/bond:PMMA[0]/monomers[10]/4    $/atom:PMMA[0]/monomers[10]/4    $/atom:PMMA[0]/monomers[10]/5
        $/bond:PMMA[0]/monomers[10]/5    $/atom:PMMA[0]/monomers[10]/4    $/atom:PMMA[0]/monomers[10]/6
        $/bond:PMMA[0]/monomers[10]/6    $/atom:PMMA[0]/monomers[10]/6    $/atom:PMMA[0]/monomers[10]/7
        $/bond:PMMA[0]/monomers[10]/7    $/atom:PMMA[0]/monomers[10]/1    $/atom:PMMA[0]/monomers[10]/8
        $/bond:PMMA[0]/monomers[10]/8    $/atom:PMMA[0]/monomers[10]/1    $/atom:PMMA[0]/monomers[10]/9
        $/bond:PMMA[0]/monomers[10]/9    $/atom:PMMA[0]/monomers[10]/3    $/atom:PMMA[0]/monomers[10]/10
        $/bond:PMMA[0]/monomers[10]/10    $/atom:PMMA[0]/monomers[10]/3    $/atom:PMMA[0]/monomers[10]/11
        $/bond:PMMA[0]/monomers[10]/11    $/atom:PMMA[0]/monomers[10]/3    $/atom:PMMA[0]/monomers[10]/12
        $/bond:PMMA[0]/monomers[10]/12    $/atom:PMMA[0]/monomers[10]/7    $/atom:PMMA[0]/monomers[10]/13
        $/bond:PMMA[0]/monomers[10]/13    $/atom:PMMA[0]/monomers[10]/7    $/atom:PMMA[0]/monomers[10]/14
        $/bond:PMMA[0]/monomers[10]/14    $/atom:PMMA[0]/monomers[10]/7    $/atom:PMMA[0]/monomers[10]/15
        $/bond:PMMA[0]/monomers[11]/1    $/atom:PMMA[0]/monomers[11]/1    $/atom:PMMA[0]/monomers[11]/2
        $/bond:PMMA[0]/monomers[11]/2    $/atom:PMMA[0]/monomers[11]/2    $/atom:PMMA[0]/monomers[11]/3
        $/bond:PMMA[0]/monomers[11]/3    $/atom:PMMA[0]/monomers[11]/2    $/atom:PMMA[0]/monomers[11]/4
        $/bond:PMMA[0]/monomers[11]/4    $/atom:PMMA[0]/monomers[11]/4    $/atom:PMMA[0]/monomers[11]/5
        $/bond:PMMA[0]/monomers[11]/5    $/atom:PMMA[0]/monomers[11]/4    $/atom:PMMA[0]/monomers[11]/6
        $/bond:PMMA[0]/monomers[11]/6    $/atom:PMMA[0]/monomers[11]/6    $/atom:PMMA[0]/monomers[11]/7
        $/bond:PMMA[0]/monomers[11]/7    $/atom:PMMA[0]/monomers[11]/1    $/atom:PMMA[0]/monomers[11]/8
        $/bond:PMMA[0]/monomers[11]/8    $/atom:PMMA[0]/monomers[11]/1    $/atom:PMMA[0]/monomers[11]/9
        $/bond:PMMA[0]/monomers[11]/9    $/atom:PMMA[0]/monomers[11]/3    $/atom:PMMA[0]/monomers[11]/10
        $/bond:PMMA[0]/monomers[11]/10    $/atom:PMMA[0]/monomers[11]/3    $/atom:PMMA[0]/monomers[11]/11
        $/bond:PMMA[0]/monomers[11]/11    $/atom:PMMA[0]/monomers[11]/3    $/atom:PMMA[0]/monomers[11]/12
        $/bond:PMMA[0]/monomers[11]/12    $/atom:PMMA[0]/monomers[11]/7    $/atom:PMMA[0]/monomers[11]/13
        $/bond:PMMA[0]/monomers[11]/13    $/atom:PMMA[0]/monomers[11]/7    $/atom:PMMA[0]/monomers[11]/14
        $/bond:PMMA[0]/monomers[11]/14    $/atom:PMMA[0]/monomers[11]/7    $/atom:PMMA[0]/monomers[11]/15
        $/bond:PMMA[0]/monomers[12]/1    $/atom:PMMA[0]/monomers[12]/1    $/atom:PMMA[0]/monomers[12]/2
        $/bond:PMMA[0]/monomers[12]/2    $/atom:PMMA[0]/monomers[12]/2    $/atom:PMMA[0]/monomers[12]/3
        $/bond:PMMA[0]/monomers[12]/3    $/atom:PMMA[0]/monomers[12]/2    $/atom:PMMA[0]/monomers[12]/4
        $/bond:PMMA[0]/monomers[12]/4    $/atom:PMMA[0]/monomers[12]/4    $/atom:PMMA[0]/monomers[12]/5
        $/bond:PMMA[0]/monomers[12]/5    $/atom:PMMA[0]/monomers[12]/4    $/atom:PMMA[0]/monomers[12]/6
        $/bond:PMMA[0]/monomers[12]/6    $/atom:PMMA[0]/monomers[12]/6    $/atom:PMMA[0]/monomers[12]/7
        $/bond:PMMA[0]/monomers[12]/7    $/atom:PMMA[0]/monomers[12]/1    $/atom:PMMA[0]/monomers[12]/8
        $/bond:PMMA[0]/monomers[12]/8    $/atom:PMMA[0]/monomers[12]/1    $/atom:PMMA[0]/monomers[12]/9
        $/bond:PMMA[0]/monomers[12]/9    $/atom:PMMA[0]/monomers[12]/3    $/atom:PMMA[0]/monomers[12]/10
        $/bond:PMMA[0]/monomers[12]/10    $/atom:PMMA[0]/monomers[12]/3    $/atom:PMMA[0]/monomers[12]/11
        $/bond:PMMA[0]/monomers[12]/11    $/atom:PMMA[0]/monomers[12]/3    $/atom:PMMA[0]/monomers[12]/12
        $/bond:PMMA[0]/monomers[12]/12    $/atom:PMMA[0]/monomers[12]/7    $/atom:PMMA[0]/monomers[12]/13
        $/bond:PMMA[0]/monomers[12]/13    $/atom:PMMA[0]/monomers[12]/7    $/atom:PMMA[0]/monomers[12]/14
        $/bond:PMMA[0]/monomers[12]/14    $/atom:PMMA[0]/monomers[12]/7    $/atom:PMMA[0]/monomers[12]/15
        $/bond:PMMA[0]/monomers[13]/1    $/atom:PMMA[0]/monomers[13]/1    $/atom:PMMA[0]/monomers[13]/2
        $/bond:PMMA[0]/monomers[13]/2    $/atom:PMMA[0]/monomers[13]/2    $/atom:PMMA[0]/monomers[13]/3
        $/bond:PMMA[0]/monomers[13]/3    $/atom:PMMA[0]/monomers[13]/2    $/atom:PMMA[0]/monomers[13]/4
        $/bond:PMMA[0]/monomers[13]/4    $/atom:PMMA[0]/monomers[13]/4    $/atom:PMMA[0]/monomers[13]/5
        $/bond:PMMA[0]/monomers[13]/5    $/atom:PMMA[0]/monomers[13]/4    $/atom:PMMA[0]/monomers[13]/6
        $/bond:PMMA[0]/monomers[13]/6    $/atom:PMMA[0]/monomers[13]/6    $/atom:PMMA[0]/monomers[13]/7
        $/bond:PMMA[0]/monomers[13]/7    $/atom:PMMA[0]/monomers[13]/1    $/atom:PMMA[0]/monomers[13]/8
        $/bond:PMMA[0]/monomers[13]/8    $/atom:PMMA[0]/monomers[13]/1    $/atom:PMMA[0]/monomers[13]/9
        $/bond:PMMA[0]/monomers[13]/9    $/atom:PMMA[0]/monomers[13]/3    $/atom:PMMA[0]/monomers[13]/10
        $/bond:PMMA[0]/monomers[13]/10    $/atom:PMMA[0]/monomers[13]/3    $/atom:PMMA[0]/monomers[13]/11
        $/bond:PMMA[0]/monomers[13]/11    $/atom:PMMA[0]/monomers[13]/3    $/atom:PMMA[0]/monomers[13]/12
        $/bond:PMMA[0]/monomers[13]/12    $/atom:PMMA[0]/monomers[13]/7    $/atom:PMMA[0]/monomers[13]/13
        $/bond:PMMA[0]/monomers[13]/13    $/atom:PMMA[0]/monomers[13]/7    $/atom:PMMA[0]/monomers[13]/14
        $/bond:PMMA[0]/monomers[13]/14    $/atom:PMMA[0]/monomers[13]/7    $/atom:PMMA[0]/monomers[13]/15
        $/bond:PMMA[0]/monomers[14]/1    $/atom:PMMA[0]/monomers[14]/1    $/atom:PMMA[0]/monomers[14]/2
        $/bond:PMMA[0]/monomers[14]/2    $/atom:PMMA[0]/monomers[14]/2    $/atom:PMMA[0]/monomers[14]/3
        $/bond:PMMA[0]/monomers[14]/3    $/atom:PMMA[0]/monomers[14]/2    $/atom:PMMA[0]/monomers[14]/4
        $/bond:PMMA[0]/monomers[14]/4    $/atom:PMMA[0]/monomers[14]/4    $/atom:PMMA[0]/monomers[14]/5
        $/bond:PMMA[0]/monomers[14]/5    $/atom:PMMA[0]/monomers[14]/4    $/atom:PMMA[0]/monomers[14]/6
        $/bond:PMMA[0]/monomers[14]/6    $/atom:PMMA[0]/monomers[14]/6    $/atom:PMMA[0]/monomers[14]/7
        $/bond:PMMA[0]/monomers[14]/7    $/atom:PMMA[0]/monomers[14]/1    $/atom:PMMA[0]/monomers[14]/8
        $/bond:PMMA[0]/monomers[14]/8    $/atom:PMMA[0]/monomers[14]/1    $/atom:PMMA[0]/monomers[14]/9
        $/bond:PMMA[0]/monomers[14]/9    $/atom:PMMA[0]/monomers[14]/3    $/atom:PMMA[0]/monomers[14]/10
        $/bond:PMMA[0]/monomers[14]/10    $/atom:PMMA[0]/monomers[14]/3    $/atom:PMMA[0]/monomers[14]/11
        $/bond:PMMA[0]/monomers[14]/11    $/atom:PMMA[0]/monomers[14]/3    $/atom:PMMA[0]/monomers[14]/12
        $/bond:PMMA[0]/monomers[14]/12    $/atom:PMMA[0]/monomers[14]/7    $/atom:PMMA[0]/monomers[14]/13
        $/bond:PMMA[0]/monomers[14]/13    $/atom:PMMA[0]/monomers[14]/7    $/atom:PMMA[0]/monomers[14]/14
        $/bond:PMMA[0]/monomers[14]/14    $/atom:PMMA[0]/monomers[14]/7    $/atom:PMMA[0]/monomers[14]/15
        $/bond:PMMA[0]/monomers[15]/1    $/atom:PMMA[0]/monomers[15]/1    $/atom:PMMA[0]/monomers[15]/2
        $/bond:PMMA[0]/monomers[15]/2    $/atom:PMMA[0]/monomers[15]/2    $/atom:PMMA[0]/monomers[15]/3
        $/bond:PMMA[0]/monomers[15]/3    $/atom:PMMA[0]/monomers[15]/2    $/atom:PMMA[0]/monomers[15]/4
        $/bond:PMMA[0]/monomers[15]/4    $/atom:PMMA[0]/monomers[15]/4    $/atom:PMMA[0]/monomers[15]/5
        $/bond:PMMA[0]/monomers[15]/5    $/atom:PMMA[0]/monomers[15]/4    $/atom:PMMA[0]/monomers[15]/6
        $/bond:PMMA[0]/monomers[15]/6    $/atom:PMMA[0]/monomers[15]/6    $/atom:PMMA[0]/monomers[15]/7
        $/bond:PMMA[0]/monomers[15]/7    $/atom:PMMA[0]/monomers[15]/1    $/atom:PMMA[0]/monomers[15]/8
        $/bond:PMMA[0]/monomers[15]/8    $/atom:PMMA[0]/monomers[15]/1    $/atom:PMMA[0]/monomers[15]/9
        $/bond:PMMA[0]/monomers[15]/9    $/atom:PMMA[0]/monomers[15]/3    $/atom:PMMA[0]/monomers[15]/10
        $/bond:PMMA[0]/monomers[15]/10    $/atom:PMMA[0]/monomers[15]/3    $/atom:PMMA[0]/monomers[15]/11
        $/bond:PMMA[0]/monomers[15]/11    $/atom:PMMA[0]/monomers[15]/3    $/atom:PMMA[0]/monomers[15]/12
        $/bond:PMMA[0]/monomers[15]/12    $/atom:PMMA[0]/monomers[15]/7    $/atom:PMMA[0]/monomers[15]/13
        $/bond:PMMA[0]/monomers[15]/13    $/atom:PMMA[0]/monomers[15]/7    $/atom:PMMA[0]/monomers[15]/14
        $/bond:PMMA[0]/monomers[15]/14    $/atom:PMMA[0]/monomers[15]/7    $/atom:PMMA[0]/monomers[15]/15
        $/bond:PMMA[0]/monomers[16]/1    $/atom:PMMA[0]/monomers[16]/1    $/atom:PMMA[0]/monomers[16]/2
        $/bond:PMMA[0]/monomers[16]/2    $/atom:PMMA[0]/monomers[16]/2    $/atom:PMMA[0]/monomers[16]/3
        $/bond:PMMA[0]/monomers[16]/3    $/atom:PMMA[0]/monomers[16]/2    $/atom:PMMA[0]/monomers[16]/4
        $/bond:PMMA[0]/monomers[16]/4    $/atom:PMMA[0]/monomers[16]/4    $/atom:PMMA[0]/monomers[16]/5
        $/bond:PMMA[0]/monomers[16]/5    $/atom:PMMA[0]/monomers[16]/4    $/atom:PMMA[0]/monomers[16]/6
        $/bond:PMMA[0]/monomers[16]/6    $/atom:PMMA[0]/monomers[16]/6    $/atom:PMMA[0]/monomers[16]/7
        $/bond:PMMA[0]/monomers[16]/7    $/atom:PMMA[0]/monomers[16]/1    $/atom:PMMA[0]/monomers[16]/8
        $/bond:PMMA[0]/monomers[16]/8    $/atom:PMMA[0]/monomers[16]/1    $/atom:PMMA[0]/monomers[16]/9
        $/bond:PMMA[0]/monomers[16]/9    $/atom:PMMA[0]/monomers[16]/3    $/atom:PMMA[0]/monomers[16]/10
        $/bond:PMMA[0]/monomers[16]/10    $/atom:PMMA[0]/monomers[16]/3    $/atom:PMMA[0]/monomers[16]/11
        $/bond:PMMA[0]/monomers[16]/11    $/atom:PMMA[0]/monomers[16]/3    $/atom:PMMA[0]/monomers[16]/12
        $/bond:PMMA[0]/monomers[16]/12    $/atom:PMMA[0]/monomers[16]/7    $/atom:PMMA[0]/monomers[16]/13
        $/bond:PMMA[0]/monomers[16]/13    $/atom:PMMA[0]/monomers[16]/7    $/atom:PMMA[0]/monomers[16]/14
        $/bond:PMMA[0]/monomers[16]/14    $/atom:PMMA[0]/monomers[16]/7    $/atom:PMMA[0]/monomers[16]/15
        $/bond:PMMA[0]/monomers[17]/1    $/atom:PMMA[0]/monomers[17]/1    $/atom:PMMA[0]/monomers[17]/2
        $/bond:PMMA[0]/monomers[17]/2    $/atom:PMMA[0]/monomers[17]/2    $/atom:PMMA[0]/monomers[17]/3
        $/bond:PMMA[0]/monomers[17]/3    $/atom:PMMA[0]/monomers[17]/2    $/atom:PMMA[0]/monomers[17]/4
        $/bond:PMMA[0]/monomers[17]/4    $/atom:PMMA[0]/monomers[17]/4    $/atom:PMMA[0]/monomers[17]/5
        $/bond:PMMA[0]/monomers[17]/5    $/atom:PMMA[0]/monomers[17]/4    $/atom:PMMA[0]/monomers[17]/6
        $/bond:PMMA[0]/monomers[17]/6    $/atom:PMMA[0]/monomers[17]/6    $/atom:PMMA[0]/monomers[17]/7
        $/bond:PMMA[0]/monomers[17]/7    $/atom:PMMA[0]/monomers[17]/1    $/atom:PMMA[0]/monomers[17]/8
        $/bond:PMMA[0]/monomers[17]/8    $/atom:PMMA[0]/monomers[17]/1    $/atom:PMMA[0]/monomers[17]/9
        $/bond:PMMA[0]/monomers[17]/9    $/atom:PMMA[0]/monomers[17]/3    $/atom:PMMA[0]/monomers[17]/10
        $/bond:PMMA[0]/monomers[17]/10    $/atom:PMMA[0]/monomers[17]/3    $/atom:PMMA[0]/monomers[17]/11
        $/bond:PMMA[0]/monomers[17]/11    $/atom:PMMA[0]/monomers[17]/3    $/atom:PMMA[0]/monomers[17]/12
        $/bond:PMMA[0]/monomers[17]/12    $/atom:PMMA[0]/monomers[17]/7    $/atom:PMMA[0]/monomers[17]/13
        $/bond:PMMA[0]/monomers[17]/13    $/atom:PMMA[0]/monomers[17]/7    $/atom:PMMA[0]/monomers[17]/14
        $/bond:PMMA[0]/monomers[17]/14    $/atom:PMMA[0]/monomers[17]/7    $/atom:PMMA[0]/monomers[17]/15
        $/bond:PMMA[0]/monomers[18]/1    $/atom:PMMA[0]/monomers[18]/1    $/atom:PMMA[0]/monomers[18]/2
        $/bond:PMMA[0]/monomers[18]/2    $/atom:PMMA[0]/monomers[18]/2    $/atom:PMMA[0]/monomers[18]/3
        $/bond:PMMA[0]/monomers[18]/3    $/atom:PMMA[0]/monomers[18]/2    $/atom:PMMA[0]/monomers[18]/4
        $/bond:PMMA[0]/monomers[18]/4    $/atom:PMMA[0]/monomers[18]/4    $/atom:PMMA[0]/monomers[18]/5
        $/bond:PMMA[0]/monomers[18]/5    $/atom:PMMA[0]/monomers[18]/4    $/atom:PMMA[0]/monomers[18]/6
        $/bond:PMMA[0]/monomers[18]/6    $/atom:PMMA[0]/monomers[18]/6    $/atom:PMMA[0]/monomers[18]/7
        $/bond:PMMA[0]/monomers[18]/7    $/atom:PMMA[0]/monomers[18]/1    $/atom:PMMA[0]/monomers[18]/8
        $/bond:PMMA[0]/monomers[18]/8    $/atom:PMMA[0]/monomers[18]/1    $/atom:PMMA[0]/monomers[18]/9
        $/bond:PMMA[0]/monomers[18]/9    $/atom:PMMA[0]/monomers[18]/3    $/atom:PMMA[0]/monomers[18]/10
        $/bond:PMMA[0]/monomers[18]/10    $/atom:PMMA[0]/monomers[18]/3    $/atom:PMMA[0]/monomers[18]/11
        $/bond:PMMA[0]/monomers[18]/11    $/atom:PMMA[0]/monomers[18]/3    $/atom:PMMA[0]/monomers[18]/12
        $/bond:PMMA[0]/monomers[18]/12    $/atom:PMMA[0]/monomers[18]/7    $/atom:PMMA[0]/monomers[18]/13
        $/bond:PMMA[0]/monomers[18]/13    $/atom:PMMA[0]/monomers[18]/7    $/atom:PMMA[0]/monomers[18]/14
        $/bond:PMMA[0]/monomers[18]/14    $/atom:PMMA[0]/monomers[18]/7    $/atom:PMMA[0]/monomers[18]/15
        $/bond:PMMA[0]/monomers[19]/1    $/atom:PMMA[0]/monomers[19]/1    $/atom:PMMA[0]/monomers[19]/2
        $/bond:PMMA[0]/monomers[19]/2    $/atom:PMMA[0]/monomers[19]/2    $/atom:PMMA[0]/monomers[19]/3
        $/bond:PMMA[0]/monomers[19]/3    $/atom:PMMA[0]/monomers[19]/2    $/atom:PMMA[0]/monomers[19]/4
        $/bond:PMMA[0]/monomers[19]/4    $/atom:PMMA[0]/monomers[19]/4    $/atom:PMMA[0]/monomers[19]/5
        $/bond:PMMA[0]/monomers[19]/5    $/atom:PMMA[0]/monomers[19]/4    $/atom:PMMA[0]/monomers[19]/6
        $/bond:PMMA[0]/monomers[19]/6    $/atom:PMMA[0]/monomers[19]/6    $/atom:PMMA[0]/monomers[19]/7
        $/bond:PMMA[0]/monomers[19]/7    $/atom:PMMA[0]/monomers[19]/1    $/atom:PMMA[0]/monomers[19]/8
        $/bond:PMMA[0]/monomers[19]/8    $/atom:PMMA[0]/monomers[19]/1    $/atom:PMMA[0]/monomers[19]/9
        $/bond:PMMA[0]/monomers[19]/9    $/atom:PMMA[0]/monomers[19]/3    $/atom:PMMA[0]/monomers[19]/10
        $/bond:PMMA[0]/monomers[19]/10    $/atom:PMMA[0]/monomers[19]/3    $/atom:PMMA[0]/monomers[19]/11
        $/bond:PMMA[0]/monomers[19]/11    $/atom:PMMA[0]/monomers[19]/3    $/atom:PMMA[0]/monomers[19]/12
        $/bond:PMMA[0]/monomers[19]/12    $/atom:PMMA[0]/monomers[19]/7    $/atom:PMMA[0]/monomers[19]/13
        $/bond:PMMA[0]/monomers[19]/13    $/atom:PMMA[0]/monomers[19]/7    $/atom:PMMA[0]/monomers[19]/14
        $/bond:PMMA[0]/monomers[19]/14    $/atom:PMMA[0]/monomers[19]/7    $/atom:PMMA[0]/monomers[19]/15
        $/bond:PMMA[0]/monomers[20]/1    $/atom:PMMA[0]/monomers[20]/1    $/atom:PMMA[0]/monomers[20]/2
        $/bond:PMMA[0]/monomers[20]/2    $/atom:PMMA[0]/monomers[20]/2    $/atom:PMMA[0]/monomers[20]/3
        $/bond:PMMA[0]/monomers[20]/3    $/atom:PMMA[0]/monomers[20]/2    $/atom:PMMA[0]/monomers[20]/4
        $/bond:PMMA[0]/monomers[20]/4    $/atom:PMMA[0]/monomers[20]/4    $/atom:PMMA[0]/monomers[20]/5
        $/bond:PMMA[0]/monomers[20]/5    $/atom:PMMA[0]/monomers[20]/4    $/atom:PMMA[0]/monomers[20]/6
        $/bond:PMMA[0]/monomers[20]/6    $/atom:PMMA[0]/monomers[20]/6    $/atom:PMMA[0]/monomers[20]/7
        $/bond:PMMA[0]/monomers[20]/7    $/atom:PMMA[0]/monomers[20]/1    $/atom:PMMA[0]/monomers[20]/8
        $/bond:PMMA[0]/monomers[20]/8    $/atom:PMMA[0]/monomers[20]/1    $/atom:PMMA[0]/monomers[20]/9
        $/bond:PMMA[0]/monomers[20]/9    $/atom:PMMA[0]/monomers[20]/3    $/atom:PMMA[0]/monomers[20]/10
        $/bond:PMMA[0]/monomers[20]/10    $/atom:PMMA[0]/monomers[20]/3    $/atom:PMMA[0]/monomers[20]/11
        $/bond:PMMA[0]/monomers[20]/11    $/atom:PMMA[0]/monomers[20]/3    $/atom:PMMA[0]/monomers[20]/12
        $/bond:PMMA[0]/monomers[20]/12    $/atom:PMMA[0]/monomers[20]/7    $/atom:PMMA[0]/monomers[20]/13
        $/bond:PMMA[0]/monomers[20]/13    $/atom:PMMA[0]/monomers[20]/7    $/atom:PMMA[0]/monomers[20]/14
        $/bond:PMMA[0]/monomers[20]/14    $/atom:PMMA[0]/monomers[20]/7    $/atom:PMMA[0]/monomers[20]/15
        $/bond:PMMA[0]/monomers[21]/1    $/atom:PMMA[0]/monomers[21]/1    $/atom:PMMA[0]/monomers[21]/2
        $/bond:PMMA[0]/monomers[21]/2    $/atom:PMMA[0]/monomers[21]/2    $/atom:PMMA[0]/monomers[21]/3
        $/bond:PMMA[0]/monomers[21]/3    $/atom:PMMA[0]/monomers[21]/2    $/atom:PMMA[0]/monomers[21]/4
        $/bond:PMMA[0]/monomers[21]/4    $/atom:PMMA[0]/monomers[21]/4    $/atom:PMMA[0]/monomers[21]/5
        $/bond:PMMA[0]/monomers[21]/5    $/atom:PMMA[0]/monomers[21]/4    $/atom:PMMA[0]/monomers[21]/6
        $/bond:PMMA[0]/monomers[21]/6    $/atom:PMMA[0]/monomers[21]/6    $/atom:PMMA[0]/monomers[21]/7
        $/bond:PMMA[0]/monomers[21]/7    $/atom:PMMA[0]/monomers[21]/1    $/atom:PMMA[0]/monomers[21]/8
        $/bond:PMMA[0]/monomers[21]/8    $/atom:PMMA[0]/monomers[21]/1    $/atom:PMMA[0]/monomers[21]/9
        $/bond:PMMA[0]/monomers[21]/9    $/atom:PMMA[0]/monomers[21]/3    $/atom:PMMA[0]/monomers[21]/10
        $/bond:PMMA[0]/monomers[21]/10    $/atom:PMMA[0]/monomers[21]/3    $/atom:PMMA[0]/monomers[21]/11
        $/bond:PMMA[0]/monomers[21]/11    $/atom:PMMA[0]/monomers[21]/3    $/atom:PMMA[0]/monomers[21]/12
        $/bond:PMMA[0]/monomers[21]/12    $/atom:PMMA[0]/monomers[21]/7    $/atom:PMMA[0]/monomers[21]/13
        $/bond:PMMA[0]/monomers[21]/13    $/atom:PMMA[0]/monomers[21]/7    $/atom:PMMA[0]/monomers[21]/14
        $/bond:PMMA[0]/monomers[21]/14    $/atom:PMMA[0]/monomers[21]/7    $/atom:PMMA[0]/monomers[21]/15
        $/bond:PMMA[0]/monomers[22]/1    $/atom:PMMA[0]/monomers[22]/1    $/atom:PMMA[0]/monomers[22]/2
        $/bond:PMMA[0]/monomers[22]/2    $/atom:PMMA[0]/monomers[22]/2    $/atom:PMMA[0]/monomers[22]/3
        $/bond:PMMA[0]/monomers[22]/3    $/atom:PMMA[0]/monomers[22]/2    $/atom:PMMA[0]/monomers[22]/4
        $/bond:PMMA[0]/monomers[22]/4    $/atom:PMMA[0]/monomers[22]/4    $/atom:PMMA[0]/monomers[22]/5
        $/bond:PMMA[0]/monomers[22]/5    $/atom:PMMA[0]/monomers[22]/4    $/atom:PMMA[0]/monomers[22]/6
        $/bond:PMMA[0]/monomers[22]/6    $/atom:PMMA[0]/monomers[22]/6    $/atom:PMMA[0]/monomers[22]/7
        $/bond:PMMA[0]/monomers[22]/7    $/atom:PMMA[0]/monomers[22]/1    $/atom:PMMA[0]/monomers[22]/8
        $/bond:PMMA[0]/monomers[22]/8    $/atom:PMMA[0]/monomers[22]/1    $/atom:PMMA[0]/monomers[22]/9
        $/bond:PMMA[0]/monomers[22]/9    $/atom:PMMA[0]/monomers[22]/3    $/atom:PMMA[0]/monomers[22]/10
        $/bond:PMMA[0]/monomers[22]/10    $/atom:PMMA[0]/monomers[22]/3    $/atom:PMMA[0]/monomers[22]/11
        $/bond:PMMA[0]/monomers[22]/11    $/atom:PMMA[0]/monomers[22]/3    $/atom:PMMA[0]/monomers[22]/12
        $/bond:PMMA[0]/monomers[22]/12    $/atom:PMMA[0]/monomers[22]/7    $/atom:PMMA[0]/monomers[22]/13
        $/bond:PMMA[0]/monomers[22]/13    $/atom:PMMA[0]/monomers[22]/7    $/atom:PMMA[0]/monomers[22]/14
        $/bond:PMMA[0]/monomers[22]/14    $/atom:PMMA[0]/monomers[22]/7    $/atom:PMMA[0]/monomers[22]/15
        $/bond:PMMA[0]/monomers[23]/1    $/atom:PMMA[0]/monomers[23]/1    $/atom:PMMA[0]/monomers[23]/2
        $/bond:PMMA[0]/monomers[23]/2    $/atom:PMMA[0]/monomers[23]/2    $/atom:PMMA[0]/monomers[23]/3
        $/bond:PMMA[0]/monomers[23]/3    $/atom:PMMA[0]/monomers[23]/2    $/atom:PMMA[0]/monomers[23]/4
        $/bond:PMMA[0]/monomers[23]/4    $/atom:PMMA[0]/monomers[23]/4    $/atom:PMMA[0]/monomers[23]/5
        $/bond:PMMA[0]/monomers[23]/5    $/atom:PMMA[0]/monomers[23]/4    $/atom:PMMA[0]/monomers[23]/6
        $/bond:PMMA[0]/monomers[23]/6    $/atom:PMMA[0]/monomers[23]/6    $/atom:PMMA[0]/monomers[23]/7
        $/bond:PMMA[0]/monomers[23]/7    $/atom:PMMA[0]/monomers[23]/1    $/atom:PMMA[0]/monomers[23]/8
        $/bond:PMMA[0]/monomers[23]/8    $/atom:PMMA[0]/monomers[23]/1    $/atom:PMMA[0]/monomers[23]/9
        $/bond:PMMA[0]/monomers[23]/9    $/atom:PMMA[0]/monomers[23]/3    $/atom:PMMA[0]/monomers[23]/10
        $/bond:PMMA[0]/monomers[23]/10    $/atom:PMMA[0]/monomers[23]/3    $/atom:PMMA[0]/monomers[23]/11
        $/bond:PMMA[0]/monomers[23]/11    $/atom:PMMA[0]/monomers[23]/3    $/atom:PMMA[0]/monomers[23]/12
        $/bond:PMMA[0]/monomers[23]/12    $/atom:PMMA[0]/monomers[23]/7    $/atom:PMMA[0]/monomers[23]/13
        $/bond:PMMA[0]/monomers[23]/13    $/atom:PMMA[0]/monomers[23]/7    $/atom:PMMA[0]/monomers[23]/14
        $/bond:PMMA[0]/monomers[23]/14    $/atom:PMMA[0]/monomers[23]/7    $/atom:PMMA[0]/monomers[23]/15
        $/bond:PMMA[0]/monomers[24]/1    $/atom:PMMA[0]/monomers[24]/1    $/atom:PMMA[0]/monomers[24]/2
        $/bond:PMMA[0]/monomers[24]/2    $/atom:PMMA[0]/monomers[24]/2    $/atom:PMMA[0]/monomers[24]/3
        $/bond:PMMA[0]/monomers[24]/3    $/atom:PMMA[0]/monomers[24]/2    $/atom:PMMA[0]/monomers[24]/4
        $/bond:PMMA[0]/monomers[24]/4    $/atom:PMMA[0]/monomers[24]/4    $/atom:PMMA[0]/monomers[24]/5
        $/bond:PMMA[0]/monomers[24]/5    $/atom:PMMA[0]/monomers[24]/4    $/atom:PMMA[0]/monomers[24]/6
        $/bond:PMMA[0]/monomers[24]/6    $/atom:PMMA[0]/monomers[24]/6    $/atom:PMMA[0]/monomers[24]/7
        $/bond:PMMA[0]/monomers[24]/7    $/atom:PMMA[0]/monomers[24]/1    $/atom:PMMA[0]/monomers[24]/8
        $/bond:PMMA[0]/monomers[24]/8    $/atom:PMMA[0]/monomers[24]/1    $/atom:PMMA[0]/monomers[24]/9
        $/bond:PMMA[0]/monomers[24]/9    $/atom:PMMA[0]/monomers[24]/3    $/atom:PMMA[0]/monomers[24]/10
        $/bond:PMMA[0]/monomers[24]/10    $/atom:PMMA[0]/monomers[24]/3    $/atom:PMMA[0]/monomers[24]/11
        $/bond:PMMA[0]/monomers[24]/11    $/atom:PMMA[0]/monomers[24]/3    $/atom:PMMA[0]/monomers[24]/12
        $/bond:PMMA[0]/monomers[24]/12    $/atom:PMMA[0]/monomers[24]/7    $/atom:PMMA[0]/monomers[24]/13
        $/bond:PMMA[0]/monomers[24]/13    $/atom:PMMA[0]/monomers[24]/7    $/atom:PMMA[0]/monomers[24]/14
        $/bond:PMMA[0]/monomers[24]/14    $/atom:PMMA[0]/monomers[24]/7    $/atom:PMMA[0]/monomers[24]/15
        $/bond:PMMA[0]/monomers[25]/1    $/atom:PMMA[0]/monomers[25]/1    $/atom:PMMA[0]/monomers[25]/2
        $/bond:PMMA[0]/monomers[25]/2    $/atom:PMMA[0]/monomers[25]/2    $/atom:PMMA[0]/monomers[25]/3
        $/bond:PMMA[0]/monomers[25]/3    $/atom:PMMA[0]/monomers[25]/2    $/atom:PMMA[0]/monomers[25]/4
        $/bond:PMMA[0]/monomers[25]/4    $/atom:PMMA[0]/monomers[25]/4    $/atom:PMMA[0]/monomers[25]/5
        $/bond:PMMA[0]/monomers[25]/5    $/atom:PMMA[0]/monomers[25]/4    $/atom:PMMA[0]/monomers[25]/6
        $/bond:PMMA[0]/monomers[25]/6    $/atom:PMMA[0]/monomers[25]/6    $/atom:PMMA[0]/monomers[25]/7
        $/bond:PMMA[0]/monomers[25]/7    $/atom:PMMA[0]/monomers[25]/1    $/atom:PMMA[0]/monomers[25]/8
        $/bond:PMMA[0]/monomers[25]/8    $/atom:PMMA[0]/monomers[25]/1    $/atom:PMMA[0]/monomers[25]/9
        $/bond:PMMA[0]/monomers[25]/9    $/atom:PMMA[0]/monomers[25]/3    $/atom:PMMA[0]/monomers[25]/10
        $/bond:PMMA[0]/monomers[25]/10    $/atom:PMMA[0]/monomers[25]/3    $/atom:PMMA[0]/monomers[25]/11
        $/bond:PMMA[0]/monomers[25]/11    $/atom:PMMA[0]/monomers[25]/3    $/atom:PMMA[0]/monomers[25]/12
        $/bond:PMMA[0]/monomers[25]/12    $/atom:PMMA[0]/monomers[25]/7    $/atom:PMMA[0]/monomers[25]/13
        $/bond:PMMA[0]/monomers[25]/13    $/atom:PMMA[0]/monomers[25]/7    $/atom:PMMA[0]/monomers[25]/14
        $/bond:PMMA[0]/monomers[25]/14    $/atom:PMMA[0]/monomers[25]/7    $/atom:PMMA[0]/monomers[25]/15
        $/bond:PMMA[0]/monomers[26]/1    $/atom:PMMA[0]/monomers[26]/1    $/atom:PMMA[0]/monomers[26]/2
        $/bond:PMMA[0]/monomers[26]/2    $/atom:PMMA[0]/monomers[26]/2    $/atom:PMMA[0]/monomers[26]/3
        $/bond:PMMA[0]/monomers[26]/3    $/atom:PMMA[0]/monomers[26]/2    $/atom:PMMA[0]/monomers[26]/4
        $/bond:PMMA[0]/monomers[26]/4    $/atom:PMMA[0]/monomers[26]/4    $/atom:PMMA[0]/monomers[26]/5
        $/bond:PMMA[0]/monomers[26]/5    $/atom:PMMA[0]/monomers[26]/4    $/atom:PMMA[0]/monomers[26]/6
        $/bond:PMMA[0]/monomers[26]/6    $/atom:PMMA[0]/monomers[26]/6    $/atom:PMMA[0]/monomers[26]/7
        $/bond:PMMA[0]/monomers[26]/7    $/atom:PMMA[0]/monomers[26]/1    $/atom:PMMA[0]/monomers[26]/8
        $/bond:PMMA[0]/monomers[26]/8    $/atom:PMMA[0]/monomers[26]/1    $/atom:PMMA[0]/monomers[26]/9
        $/bond:PMMA[0]/monomers[26]/9    $/atom:PMMA[0]/monomers[26]/3    $/atom:PMMA[0]/monomers[26]/10
        $/bond:PMMA[0]/monomers[26]/10    $/atom:PMMA[0]/monomers[26]/3    $/atom:PMMA[0]/monomers[26]/11
        $/bond:PMMA[0]/monomers[26]/11    $/atom:PMMA[0]/monomers[26]/3    $/atom:PMMA[0]/monomers[26]/12
        $/bond:PMMA[0]/monomers[26]/12    $/atom:PMMA[0]/monomers[26]/7    $/atom:PMMA[0]/monomers[26]/13
        $/bond:PMMA[0]/monomers[26]/13    $/atom:PMMA[0]/monomers[26]/7    $/atom:PMMA[0]/monomers[26]/14
        $/bond:PMMA[0]/monomers[26]/14    $/atom:PMMA[0]/monomers[26]/7    $/atom:PMMA[0]/monomers[26]/15
        $/bond:PMMA[0]/monomers[27]/1    $/atom:PMMA[0]/monomers[27]/1    $/atom:PMMA[0]/monomers[27]/2
        $/bond:PMMA[0]/monomers[27]/2    $/atom:PMMA[0]/monomers[27]/2    $/atom:PMMA[0]/monomers[27]/3
        $/bond:PMMA[0]/monomers[27]/3    $/atom:PMMA[0]/monomers[27]/2    $/atom:PMMA[0]/monomers[27]/4
        $/bond:PMMA[0]/monomers[27]/4    $/atom:PMMA[0]/monomers[27]/4    $/atom:PMMA[0]/monomers[27]/5
        $/bond:PMMA[0]/monomers[27]/5    $/atom:PMMA[0]/monomers[27]/4    $/atom:PMMA[0]/monomers[27]/6
        $/bond:PMMA[0]/monomers[27]/6    $/atom:PMMA[0]/monomers[27]/6    $/atom:PMMA[0]/monomers[27]/7
        $/bond:PMMA[0]/monomers[27]/7    $/atom:PMMA[0]/monomers[27]/1    $/atom:PMMA[0]/monomers[27]/8
        $/bond:PMMA[0]/monomers[27]/8    $/atom:PMMA[0]/monomers[27]/1    $/atom:PMMA[0]/monomers[27]/9
        $/bond:PMMA[0]/monomers[27]/9    $/atom:PMMA[0]/monomers[27]/3    $/atom:PMMA[0]/monomers[27]/10
        $/bond:PMMA[0]/monomers[27]/10    $/atom:PMMA[0]/monomers[27]/3    $/atom:PMMA[0]/monomers[27]/11
        $/bond:PMMA[0]/monomers[27]/11    $/atom:PMMA[0]/monomers[27]/3    $/atom:PMMA[0]/monomers[27]/12
        $/bond:PMMA[0]/monomers[27]/12    $/atom:PMMA[0]/monomers[27]/7    $/atom:PMMA[0]/monomers[27]/13
        $/bond:PMMA[0]/monomers[27]/13    $/atom:PMMA[0]/monomers[27]/7    $/atom:PMMA[0]/monomers[27]/14
        $/bond:PMMA[0]/monomers[27]/14    $/atom:PMMA[0]/monomers[27]/7    $/atom:PMMA[0]/monomers[27]/15
        $/bond:PMMA[0]/monomers[28]/1    $/atom:PMMA[0]/monomers[28]/1    $/atom:PMMA[0]/monomers[28]/2
        $/bond:PMMA[0]/monomers[28]/2    $/atom:PMMA[0]/monomers[28]/2    $/atom:PMMA[0]/monomers[28]/3
        $/bond:PMMA[0]/monomers[28]/3    $/atom:PMMA[0]/monomers[28]/2    $/atom:PMMA[0]/monomers[28]/4
        $/bond:PMMA[0]/monomers[28]/4    $/atom:PMMA[0]/monomers[28]/4    $/atom:PMMA[0]/monomers[28]/5
        $/bond:PMMA[0]/monomers[28]/5    $/atom:PMMA[0]/monomers[28]/4    $/atom:PMMA[0]/monomers[28]/6
        $/bond:PMMA[0]/monomers[28]/6    $/atom:PMMA[0]/monomers[28]/6    $/atom:PMMA[0]/monomers[28]/7
        $/bond:PMMA[0]/monomers[28]/7    $/atom:PMMA[0]/monomers[28]/1    $/atom:PMMA[0]/monomers[28]/8
        $/bond:PMMA[0]/monomers[28]/8    $/atom:PMMA[0]/monomers[28]/1    $/atom:PMMA[0]/monomers[28]/9
        $/bond:PMMA[0]/monomers[28]/9    $/atom:PMMA[0]/monomers[28]/3    $/atom:PMMA[0]/monomers[28]/10
        $/bond:PMMA[0]/monomers[28]/10    $/atom:PMMA[0]/monomers[28]/3    $/atom:PMMA[0]/monomers[28]/11
        $/bond:PMMA[0]/monomers[28]/11    $/atom:PMMA[0]/monomers[28]/3    $/atom:PMMA[0]/monomers[28]/12
        $/bond:PMMA[0]/monomers[28]/12    $/atom:PMMA[0]/monomers[28]/7    $/atom:PMMA[0]/monomers[28]/13
        $/bond:PMMA[0]/monomers[28]/13    $/atom:PMMA[0]/monomers[28]/7    $/atom:PMMA[0]/monomers[28]/14
        $/bond:PMMA[0]/monomers[28]/14    $/atom:PMMA[0]/monomers[28]/7    $/atom:PMMA[0]/monomers[28]/15
        $/bond:PMMA[0]/monomers[29]/1    $/atom:PMMA[0]/monomers[29]/1    $/atom:PMMA[0]/monomers[29]/2
        $/bond:PMMA[0]/monomers[29]/2    $/atom:PMMA[0]/monomers[29]/2    $/atom:PMMA[0]/monomers[29]/3
        $/bond:PMMA[0]/monomers[29]/3    $/atom:PMMA[0]/monomers[29]/2    $/atom:PMMA[0]/monomers[29]/4
        $/bond:PMMA[0]/monomers[29]/4    $/atom:PMMA[0]/monomers[29]/4    $/atom:PMMA[0]/monomers[29]/5
        $/bond:PMMA[0]/monomers[29]/5    $/atom:PMMA[0]/monomers[29]/4    $/atom:PMMA[0]/monomers[29]/6
        $/bond:PMMA[0]/monomers[29]/6    $/atom:PMMA[0]/monomers[29]/6    $/atom:PMMA[0]/monomers[29]/7
        $/bond:PMMA[0]/monomers[29]/7    $/atom:PMMA[0]/monomers[29]/1    $/atom:PMMA[0]/monomers[29]/8
        $/bond:PMMA[0]/monomers[29]/8    $/atom:PMMA[0]/monomers[29]/1    $/atom:PMMA[0]/monomers[29]/9
        $/bond:PMMA[0]/monomers[29]/9    $/atom:PMMA[0]/monomers[29]/3    $/atom:PMMA[0]/monomers[29]/10
        $/bond:PMMA[0]/monomers[29]/10    $/atom:PMMA[0]/monomers[29]/3    $/atom:PMMA[0]/monomers[29]/11
        $/bond:PMMA[0]/monomers[29]/11    $/atom:PMMA[0]/monomers[29]/3    $/atom:PMMA[0]/monomers[29]/12
        $/bond:PMMA[0]/monomers[29]/12    $/atom:PMMA[0]/monomers[29]/7    $/atom:PMMA[0]/monomers[29]/13
        $/bond:PMMA[0]/monomers[29]/13    $/atom:PMMA[0]/monomers[29]/7    $/atom:PMMA[0]/monomers[29]/14
        $/bond:PMMA[0]/monomers[29]/14    $/atom:PMMA[0]/monomers[29]/7    $/atom:PMMA[0]/monomers[29]/15
        $/bond:PMMA[0]/monomers[30]/1    $/atom:PMMA[0]/monomers[30]/1    $/atom:PMMA[0]/monomers[30]/2
        $/bond:PMMA[0]/monomers[30]/2    $/atom:PMMA[0]/monomers[30]/2    $/atom:PMMA[0]/monomers[30]/3
        $/bond:PMMA[0]/monomers[30]/3    $/atom:PMMA[0]/monomers[30]/2    $/atom:PMMA[0]/monomers[30]/4
        $/bond:PMMA[0]/monomers[30]/4    $/atom:PMMA[0]/monomers[30]/4    $/atom:PMMA[0]/monomers[30]/5
        $/bond:PMMA[0]/monomers[30]/5    $/atom:PMMA[0]/monomers[30]/4    $/atom:PMMA[0]/monomers[30]/6
        $/bond:PMMA[0]/monomers[30]/6    $/atom:PMMA[0]/monomers[30]/6    $/atom:PMMA[0]/monomers[30]/7
        $/bond:PMMA[0]/monomers[30]/7    $/atom:PMMA[0]/monomers[30]/1    $/atom:PMMA[0]/monomers[30]/8
        $/bond:PMMA[0]/monomers[30]/8    $/atom:PMMA[0]/monomers[30]/1    $/atom:PMMA[0]/monomers[30]/9
        $/bond:PMMA[0]/monomers[30]/9    $/atom:PMMA[0]/monomers[30]/3    $/atom:PMMA[0]/monomers[30]/10
        $/bond:PMMA[0]/monomers[30]/10    $/atom:PMMA[0]/monomers[30]/3    $/atom:PMMA[0]/monomers[30]/11
        $/bond:PMMA[0]/monomers[30]/11    $/atom:PMMA[0]/monomers[30]/3    $/atom:PMMA[0]/monomers[30]/12
        $/bond:PMMA[0]/monomers[30]/12    $/atom:PMMA[0]/monomers[30]/7    $/atom:PMMA[0]/monomers[30]/13
        $/bond:PMMA[0]/monomers[30]/13    $/atom:PMMA[0]/monomers[30]/7    $/atom:PMMA[0]/monomers[30]/14
        $/bond:PMMA[0]/monomers[30]/14    $/atom:PMMA[0]/monomers[30]/7    $/atom:PMMA[0]/monomers[30]/15
        $/bond:PMMA[0]/monomers[31]/1    $/atom:PMMA[0]/monomers[31]/1    $/atom:PMMA[0]/monomers[31]/2
        $/bond:PMMA[0]/monomers[31]/2    $/atom:PMMA[0]/monomers[31]/2    $/atom:PMMA[0]/monomers[31]/3
        $/bond:PMMA[0]/monomers[31]/3    $/atom:PMMA[0]/monomers[31]/2    $/atom:PMMA[0]/monomers[31]/4
        $/bond:PMMA[0]/monomers[31]/4    $/atom:PMMA[0]/monomers[31]/4    $/atom:PMMA[0]/monomers[31]/5
        $/bond:PMMA[0]/monomers[31]/5    $/atom:PMMA[0]/monomers[31]/4    $/atom:PMMA[0]/monomers[31]/6
        $/bond:PMMA[0]/monomers[31]/6    $/atom:PMMA[0]/monomers[31]/6    $/atom:PMMA[0]/monomers[31]/7
        $/bond:PMMA[0]/monomers[31]/7    $/atom:PMMA[0]/monomers[31]/1    $/atom:PMMA[0]/monomers[31]/8
        $/bond:PMMA[0]/monomers[31]/8    $/atom:PMMA[0]/monomers[31]/1    $/atom:PMMA[0]/monomers[31]/9
        $/bond:PMMA[0]/monomers[31]/9    $/atom:PMMA[0]/monomers[31]/3    $/atom:PMMA[0]/monomers[31]/10
        $/bond:PMMA[0]/monomers[31]/10    $/atom:PMMA[0]/monomers[31]/3    $/atom:PMMA[0]/monomers[31]/11
        $/bond:PMMA[0]/monomers[31]/11    $/atom:PMMA[0]/monomers[31]/3    $/atom:PMMA[0]/monomers[31]/12
        $/bond:PMMA[0]/monomers[31]/12    $/atom:PMMA[0]/monomers[31]/7    $/atom:PMMA[0]/monomers[31]/13
        $/bond:PMMA[0]/monomers[31]/13    $/atom:PMMA[0]/monomers[31]/7    $/atom:PMMA[0]/monomers[31]/14
        $/bond:PMMA[0]/monomers[31]/14    $/atom:PMMA[0]/monomers[31]/7    $/atom:PMMA[0]/monomers[31]/15
        $/bond:PMMA[0]/monomers[32]/1    $/atom:PMMA[0]/monomers[32]/1    $/atom:PMMA[0]/monomers[32]/2
        $/bond:PMMA[0]/monomers[32]/2    $/atom:PMMA[0]/monomers[32]/2    $/atom:PMMA[0]/monomers[32]/3
        $/bond:PMMA[0]/monomers[32]/3    $/atom:PMMA[0]/monomers[32]/2    $/atom:PMMA[0]/monomers[32]/4
        $/bond:PMMA[0]/monomers[32]/4    $/atom:PMMA[0]/monomers[32]/4    $/atom:PMMA[0]/monomers[32]/5
        $/bond:PMMA[0]/monomers[32]/5    $/atom:PMMA[0]/monomers[32]/4    $/atom:PMMA[0]/monomers[32]/6
        $/bond:PMMA[0]/monomers[32]/6    $/atom:PMMA[0]/monomers[32]/6    $/atom:PMMA[0]/monomers[32]/7
        $/bond:PMMA[0]/monomers[32]/7    $/atom:PMMA[0]/monomers[32]/1    $/atom:PMMA[0]/monomers[32]/8
        $/bond:PMMA[0]/monomers[32]/8    $/atom:PMMA[0]/monomers[32]/1    $/atom:PMMA[0]/monomers[32]/9
        $/bond:PMMA[0]/monomers[32]/9    $/atom:PMMA[0]/monomers[32]/3    $/atom:PMMA[0]/monomers[32]/10
        $/bond:PMMA[0]/monomers[32]/10    $/atom:PMMA[0]/monomers[32]/3    $/atom:PMMA[0]/monomers[32]/11
        $/bond:PMMA[0]/monomers[32]/11    $/atom:PMMA[0]/monomers[32]/3    $/atom:PMMA[0]/monomers[32]/12
        $/bond:PMMA[0]/monomers[32]/12    $/atom:PMMA[0]/monomers[32]/7    $/atom:PMMA[0]/monomers[32]/13
        $/bond:PMMA[0]/monomers[32]/13    $/atom:PMMA[0]/monomers[32]/7    $/atom:PMMA[0]/monomers[32]/14
        $/bond:PMMA[0]/monomers[32]/14    $/atom:PMMA[0]/monomers[32]/7    $/atom:PMMA[0]/monomers[32]/15
        $/bond:PMMA[0]/monomers[33]/1    $/atom:PMMA[0]/monomers[33]/1    $/atom:PMMA[0]/monomers[33]/2
        $/bond:PMMA[0]/monomers[33]/2    $/atom:PMMA[0]/monomers[33]/2    $/atom:PMMA[0]/monomers[33]/3
        $/bond:PMMA[0]/monomers[33]/3    $/atom:PMMA[0]/monomers[33]/2    $/atom:PMMA[0]/monomers[33]/4
        $/bond:PMMA[0]/monomers[33]/4    $/atom:PMMA[0]/monomers[33]/4    $/atom:PMMA[0]/monomers[33]/5
        $/bond:PMMA[0]/monomers[33]/5    $/atom:PMMA[0]/monomers[33]/4    $/atom:PMMA[0]/monomers[33]/6
        $/bond:PMMA[0]/monomers[33]/6    $/atom:PMMA[0]/monomers[33]/6    $/atom:PMMA[0]/monomers[33]/7
        $/bond:PMMA[0]/monomers[33]/7    $/atom:PMMA[0]/monomers[33]/1    $/atom:PMMA[0]/monomers[33]/8
        $/bond:PMMA[0]/monomers[33]/8    $/atom:PMMA[0]/monomers[33]/1    $/atom:PMMA[0]/monomers[33]/9
        $/bond:PMMA[0]/monomers[33]/9    $/atom:PMMA[0]/monomers[33]/3    $/atom:PMMA[0]/monomers[33]/10
        $/bond:PMMA[0]/monomers[33]/10    $/atom:PMMA[0]/monomers[33]/3    $/atom:PMMA[0]/monomers[33]/11
        $/bond:PMMA[0]/monomers[33]/11    $/atom:PMMA[0]/monomers[33]/3    $/atom:PMMA[0]/monomers[33]/12
        $/bond:PMMA[0]/monomers[33]/12    $/atom:PMMA[0]/monomers[33]/7    $/atom:PMMA[0]/monomers[33]/13
        $/bond:PMMA[0]/monomers[33]/13    $/atom:PMMA[0]/monomers[33]/7    $/atom:PMMA[0]/monomers[33]/14
        $/bond:PMMA[0]/monomers[33]/14    $/atom:PMMA[0]/monomers[33]/7    $/atom:PMMA[0]/monomers[33]/15
        $/bond:PMMA[0]/monomers[34]/1    $/atom:PMMA[0]/monomers[34]/1    $/atom:PMMA[0]/monomers[34]/2
        $/bond:PMMA[0]/monomers[34]/2    $/atom:PMMA[0]/monomers[34]/2    $/atom:PMMA[0]/monomers[34]/3
        $/bond:PMMA[0]/monomers[34]/3    $/atom:PMMA[0]/monomers[34]/2    $/atom:PMMA[0]/monomers[34]/4
        $/bond:PMMA[0]/monomers[34]/4    $/atom:PMMA[0]/monomers[34]/4    $/atom:PMMA[0]/monomers[34]/5
        $/bond:PMMA[0]/monomers[34]/5    $/atom:PMMA[0]/monomers[34]/4    $/atom:PMMA[0]/monomers[34]/6
        $/bond:PMMA[0]/monomers[34]/6    $/atom:PMMA[0]/monomers[34]/6    $/atom:PMMA[0]/monomers[34]/7
        $/bond:PMMA[0]/monomers[34]/7    $/atom:PMMA[0]/monomers[34]/1    $/atom:PMMA[0]/monomers[34]/8
        $/bond:PMMA[0]/monomers[34]/8    $/atom:PMMA[0]/monomers[34]/1    $/atom:PMMA[0]/monomers[34]/9
        $/bond:PMMA[0]/monomers[34]/9    $/atom:PMMA[0]/monomers[34]/3    $/atom:PMMA[0]/monomers[34]/10
        $/bond:PMMA[0]/monomers[34]/10    $/atom:PMMA[0]/monomers[34]/3    $/atom:PMMA[0]/monomers[34]/11
        $/bond:PMMA[0]/monomers[34]/11    $/atom:PMMA[0]/monomers[34]/3    $/atom:PMMA[0]/monomers[34]/12
        $/bond:PMMA[0]/monomers[34]/12    $/atom:PMMA[0]/monomers[34]/7    $/atom:PMMA[0]/monomers[34]/13
        $/bond:PMMA[0]/monomers[34]/13    $/atom:PMMA[0]/monomers[34]/7    $/atom:PMMA[0]/monomers[34]/14
        $/bond:PMMA[0]/monomers[34]/14    $/atom:PMMA[0]/monomers[34]/7    $/atom:PMMA[0]/monomers[34]/15
        $/bond:PMMA[0]/monomers[35]/1    $/atom:PMMA[0]/monomers[35]/1    $/atom:PMMA[0]/monomers[35]/2
        $/bond:PMMA[0]/monomers[35]/2    $/atom:PMMA[0]/monomers[35]/2    $/atom:PMMA[0]/monomers[35]/3
        $/bond:PMMA[0]/monomers[35]/3    $/atom:PMMA[0]/monomers[35]/2    $/atom:PMMA[0]/monomers[35]/4
        $/bond:PMMA[0]/monomers[35]/4    $/atom:PMMA[0]/monomers[35]/4    $/atom:PMMA[0]/monomers[35]/5
        $/bond:PMMA[0]/monomers[35]/5    $/atom:PMMA[0]/monomers[35]/4    $/atom:PMMA[0]/monomers[35]/6
        $/bond:PMMA[0]/monomers[35]/6    $/atom:PMMA[0]/monomers[35]/6    $/atom:PMMA[0]/monomers[35]/7
        $/bond:PMMA[0]/monomers[35]/7    $/atom:PMMA[0]/monomers[35]/1    $/atom:PMMA[0]/monomers[35]/8
        $/bond:PMMA[0]/monomers[35]/8    $/atom:PMMA[0]/monomers[35]/1    $/atom:PMMA[0]/monomers[35]/9
        $/bond:PMMA[0]/monomers[35]/9    $/atom:PMMA[0]/monomers[35]/3    $/atom:PMMA[0]/monomers[35]/10
        $/bond:PMMA[0]/monomers[35]/10    $/atom:PMMA[0]/monomers[35]/3    $/atom:PMMA[0]/monomers[35]/11
        $/bond:PMMA[0]/monomers[35]/11    $/atom:PMMA[0]/monomers[35]/3    $/atom:PMMA[0]/monomers[35]/12
        $/bond:PMMA[0]/monomers[35]/12    $/atom:PMMA[0]/monomers[35]/7    $/atom:PMMA[0]/monomers[35]/13
        $/bond:PMMA[0]/monomers[35]/13    $/atom:PMMA[0]/monomers[35]/7    $/atom:PMMA[0]/monomers[35]/14
        $/bond:PMMA[0]/monomers[35]/14    $/atom:PMMA[0]/monomers[35]/7    $/atom:PMMA[0]/monomers[35]/15
        $/bond:PMMA[0]/monomers[36]/1    $/atom:PMMA[0]/monomers[36]/1    $/atom:PMMA[0]/monomers[36]/2
        $/bond:PMMA[0]/monomers[36]/2    $/atom:PMMA[0]/monomers[36]/2    $/atom:PMMA[0]/monomers[36]/3
        $/bond:PMMA[0]/monomers[36]/3    $/atom:PMMA[0]/monomers[36]/2    $/atom:PMMA[0]/monomers[36]/4
        $/bond:PMMA[0]/monomers[36]/4    $/atom:PMMA[0]/monomers[36]/4    $/atom:PMMA[0]/monomers[36]/5
        $/bond:PMMA[0]/monomers[36]/5    $/atom:PMMA[0]/monomers[36]/4    $/atom:PMMA[0]/monomers[36]/6
        $/bond:PMMA[0]/monomers[36]/6    $/atom:PMMA[0]/monomers[36]/6    $/atom:PMMA[0]/monomers[36]/7
        $/bond:PMMA[0]/monomers[36]/7    $/atom:PMMA[0]/monomers[36]/1    $/atom:PMMA[0]/monomers[36]/8
        $/bond:PMMA[0]/monomers[36]/8    $/atom:PMMA[0]/monomers[36]/1    $/atom:PMMA[0]/monomers[36]/9
        $/bond:PMMA[0]/monomers[36]/9    $/atom:PMMA[0]/monomers[36]/3    $/atom:PMMA[0]/monomers[36]/10
        $/bond:PMMA[0]/monomers[36]/10    $/atom:PMMA[0]/monomers[36]/3    $/atom:PMMA[0]/monomers[36]/11
        $/bond:PMMA[0]/monomers[36]/11    $/atom:PMMA[0]/monomers[36]/3    $/atom:PMMA[0]/monomers[36]/12
        $/bond:PMMA[0]/monomers[36]/12    $/atom:PMMA[0]/monomers[36]/7    $/atom:PMMA[0]/monomers[36]/13
        $/bond:PMMA[0]/monomers[36]/13    $/atom:PMMA[0]/monomers[36]/7    $/atom:PMMA[0]/monomers[36]/14
        $/bond:PMMA[0]/monomers[36]/14    $/atom:PMMA[0]/monomers[36]/7    $/atom:PMMA[0]/monomers[36]/15
        $/bond:PMMA[0]/monomers[37]/1    $/atom:PMMA[0]/monomers[37]/1    $/atom:PMMA[0]/monomers[37]/2
        $/bond:PMMA[0]/monomers[37]/2    $/atom:PMMA[0]/monomers[37]/2    $/atom:PMMA[0]/monomers[37]/3
        $/bond:PMMA[0]/monomers[37]/3    $/atom:PMMA[0]/monomers[37]/2    $/atom:PMMA[0]/monomers[37]/4
        $/bond:PMMA[0]/monomers[37]/4    $/atom:PMMA[0]/monomers[37]/4    $/atom:PMMA[0]/monomers[37]/5
        $/bond:PMMA[0]/monomers[37]/5    $/atom:PMMA[0]/monomers[37]/4    $/atom:PMMA[0]/monomers[37]/6
        $/bond:PMMA[0]/monomers[37]/6    $/atom:PMMA[0]/monomers[37]/6    $/atom:PMMA[0]/monomers[37]/7
        $/bond:PMMA[0]/monomers[37]/7    $/atom:PMMA[0]/monomers[37]/1    $/atom:PMMA[0]/monomers[37]/8
        $/bond:PMMA[0]/monomers[37]/8    $/atom:PMMA[0]/monomers[37]/1    $/atom:PMMA[0]/monomers[37]/9
        $/bond:PMMA[0]/monomers[37]/9    $/atom:PMMA[0]/monomers[37]/3    $/atom:PMMA[0]/monomers[37]/10
        $/bond:PMMA[0]/monomers[37]/10    $/atom:PMMA[0]/monomers[37]/3    $/atom:PMMA[0]/monomers[37]/11
        $/bond:PMMA[0]/monomers[37]/11    $/atom:PMMA[0]/monomers[37]/3    $/atom:PMMA[0]/monomers[37]/12
        $/bond:PMMA[0]/monomers[37]/12    $/atom:PMMA[0]/monomers[37]/7    $/atom:PMMA[0]/monomers[37]/13
        $/bond:PMMA[0]/monomers[37]/13    $/atom:PMMA[0]/monomers[37]/7    $/atom:PMMA[0]/monomers[37]/14
        $/bond:PMMA[0]/monomers[37]/14    $/atom:PMMA[0]/monomers[37]/7    $/atom:PMMA[0]/monomers[37]/15
        $/bond:PMMA[0]/monomers[38]/1    $/atom:PMMA[0]/monomers[38]/1    $/atom:PMMA[0]/monomers[38]/2
        $/bond:PMMA[0]/monomers[38]/2    $/atom:PMMA[0]/monomers[38]/2    $/atom:PMMA[0]/monomers[38]/3
        $/bond:PMMA[0]/monomers[38]/3    $/atom:PMMA[0]/monomers[38]/2    $/atom:PMMA[0]/monomers[38]/4
        $/bond:PMMA[0]/monomers[38]/4    $/atom:PMMA[0]/monomers[38]/4    $/atom:PMMA[0]/monomers[38]/5
        $/bond:PMMA[0]/monomers[38]/5    $/atom:PMMA[0]/monomers[38]/4    $/atom:PMMA[0]/monomers[38]/6
        $/bond:PMMA[0]/monomers[38]/6    $/atom:PMMA[0]/monomers[38]/6    $/atom:PMMA[0]/monomers[38]/7
        $/bond:PMMA[0]/monomers[38]/7    $/atom:PMMA[0]/monomers[38]/1    $/atom:PMMA[0]/monomers[38]/8
        $/bond:PMMA[0]/monomers[38]/8    $/atom:PMMA[0]/monomers[38]/1    $/atom:PMMA[0]/monomers[38]/9
        $/bond:PMMA[0]/monomers[38]/9    $/atom:PMMA[0]/monomers[38]/3    $/atom:PMMA[0]/monomers[38]/10
        $/bond:PMMA[0]/monomers[38]/10    $/atom:PMMA[0]/monomers[38]/3    $/atom:PMMA[0]/monomers[38]/11
        $/bond:PMMA[0]/monomers[38]/11    $/atom:PMMA[0]/monomers[38]/3    $/atom:PMMA[0]/monomers[38]/12
        $/bond:PMMA[0]/monomers[38]/12    $/atom:PMMA[0]/monomers[38]/7    $/atom:PMMA[0]/monomers[38]/13
        $/bond:PMMA[0]/monomers[38]/13    $/atom:PMMA[0]/monomers[38]/7    $/atom:PMMA[0]/monomers[38]/14
        $/bond:PMMA[0]/monomers[38]/14    $/atom:PMMA[0]/monomers[38]/7    $/atom:PMMA[0]/monomers[38]/15
        $/bond:PMMA[0]/monomers[39]/1    $/atom:PMMA[0]/monomers[39]/1    $/atom:PMMA[0]/monomers[39]/2
        $/bond:PMMA[0]/monomers[39]/2    $/atom:PMMA[0]/monomers[39]/2    $/atom:PMMA[0]/monomers[39]/3
        $/bond:PMMA[0]/monomers[39]/3    $/atom:PMMA[0]/monomers[39]/2    $/atom:PMMA[0]/monomers[39]/4
        $/bond:PMMA[0]/monomers[39]/4    $/atom:PMMA[0]/monomers[39]/4    $/atom:PMMA[0]/monomers[39]/5
        $/bond:PMMA[0]/monomers[39]/5    $/atom:PMMA[0]/monomers[39]/4    $/atom:PMMA[0]/monomers[39]/6
        $/bond:PMMA[0]/monomers[39]/6    $/atom:PMMA[0]/monomers[39]/6    $/atom:PMMA[0]/monomers[39]/7
        $/bond:PMMA[0]/monomers[39]/7    $/atom:PMMA[0]/monomers[39]/1    $/atom:PMMA[0]/monomers[39]/8
        $/bond:PMMA[0]/monomers[39]/8    $/atom:PMMA[0]/monomers[39]/1    $/atom:PMMA[0]/monomers[39]/9
        $/bond:PMMA[0]/monomers[39]/9    $/atom:PMMA[0]/monomers[39]/3    $/atom:PMMA[0]/monomers[39]/10
        $/bond:PMMA[0]/monomers[39]/10    $/atom:PMMA[0]/monomers[39]/3    $/atom:PMMA[0]/monomers[39]/11
        $/bond:PMMA[0]/monomers[39]/11    $/atom:PMMA[0]/monomers[39]/3    $/atom:PMMA[0]/monomers[39]/12
        $/bond:PMMA[0]/monomers[39]/12    $/atom:PMMA[0]/monomers[39]/7    $/atom:PMMA[0]/monomers[39]/13
        $/bond:PMMA[0]/monomers[39]/13    $/atom:PMMA[0]/monomers[39]/7    $/atom:PMMA[0]/monomers[39]/14
        $/bond:PMMA[0]/monomers[39]/14    $/atom:PMMA[0]/monomers[39]/7    $/atom:PMMA[0]/monomers[39]/15
        $/bond:PMMA[0]/monomers[40]/1    $/atom:PMMA[0]/monomers[40]/1    $/atom:PMMA[0]/monomers[40]/2
        $/bond:PMMA[0]/monomers[40]/2    $/atom:PMMA[0]/monomers[40]/2    $/atom:PMMA[0]/monomers[40]/3
        $/bond:PMMA[0]/monomers[40]/3    $/atom:PMMA[0]/monomers[40]/2    $/atom:PMMA[0]/monomers[40]/4
        $/bond:PMMA[0]/monomers[40]/4    $/atom:PMMA[0]/monomers[40]/4    $/atom:PMMA[0]/monomers[40]/5
        $/bond:PMMA[0]/monomers[40]/5    $/atom:PMMA[0]/monomers[40]/4    $/atom:PMMA[0]/monomers[40]/6
        $/bond:PMMA[0]/monomers[40]/6    $/atom:PMMA[0]/monomers[40]/6    $/atom:PMMA[0]/monomers[40]/7
        $/bond:PMMA[0]/monomers[40]/7    $/atom:PMMA[0]/monomers[40]/1    $/atom:PMMA[0]/monomers[40]/8
        $/bond:PMMA[0]/monomers[40]/8    $/atom:PMMA[0]/monomers[40]/1    $/atom:PMMA[0]/monomers[40]/9
        $/bond:PMMA[0]/monomers[40]/9    $/atom:PMMA[0]/monomers[40]/3    $/atom:PMMA[0]/monomers[40]/10
        $/bond:PMMA[0]/monomers[40]/10    $/atom:PMMA[0]/monomers[40]/3    $/atom:PMMA[0]/monomers[40]/11
        $/bond:PMMA[0]/monomers[40]/11    $/atom:PMMA[0]/monomers[40]/3    $/atom:PMMA[0]/monomers[40]/12
        $/bond:PMMA[0]/monomers[40]/12    $/atom:PMMA[0]/monomers[40]/7    $/atom:PMMA[0]/monomers[40]/13
        $/bond:PMMA[0]/monomers[40]/13    $/atom:PMMA[0]/monomers[40]/7    $/atom:PMMA[0]/monomers[40]/14
        $/bond:PMMA[0]/monomers[40]/14    $/atom:PMMA[0]/monomers[40]/7    $/atom:PMMA[0]/monomers[40]/15
        $/bond:PMMA[0]/monomers[41]/1    $/atom:PMMA[0]/monomers[41]/1    $/atom:PMMA[0]/monomers[41]/2
        $/bond:PMMA[0]/monomers[41]/2    $/atom:PMMA[0]/monomers[41]/2    $/atom:PMMA[0]/monomers[41]/3
        $/bond:PMMA[0]/monomers[41]/3    $/atom:PMMA[0]/monomers[41]/2    $/atom:PMMA[0]/monomers[41]/4
        $/bond:PMMA[0]/monomers[41]/4    $/atom:PMMA[0]/monomers[41]/4    $/atom:PMMA[0]/monomers[41]/5
        $/bond:PMMA[0]/monomers[41]/5    $/atom:PMMA[0]/monomers[41]/4    $/atom:PMMA[0]/monomers[41]/6
        $/bond:PMMA[0]/monomers[41]/6    $/atom:PMMA[0]/monomers[41]/6    $/atom:PMMA[0]/monomers[41]/7
        $/bond:PMMA[0]/monomers[41]/7    $/atom:PMMA[0]/monomers[41]/1    $/atom:PMMA[0]/monomers[41]/8
        $/bond:PMMA[0]/monomers[41]/8    $/atom:PMMA[0]/monomers[41]/1    $/atom:PMMA[0]/monomers[41]/9
        $/bond:PMMA[0]/monomers[41]/9    $/atom:PMMA[0]/monomers[41]/3    $/atom:PMMA[0]/monomers[41]/10
        $/bond:PMMA[0]/monomers[41]/10    $/atom:PMMA[0]/monomers[41]/3    $/atom:PMMA[0]/monomers[41]/11
        $/bond:PMMA[0]/monomers[41]/11    $/atom:PMMA[0]/monomers[41]/3    $/atom:PMMA[0]/monomers[41]/12
        $/bond:PMMA[0]/monomers[41]/12    $/atom:PMMA[0]/monomers[41]/7    $/atom:PMMA[0]/monomers[41]/13
        $/bond:PMMA[0]/monomers[41]/13    $/atom:PMMA[0]/monomers[41]/7    $/atom:PMMA[0]/monomers[41]/14
        $/bond:PMMA[0]/monomers[41]/14    $/atom:PMMA[0]/monomers[41]/7    $/atom:PMMA[0]/monomers[41]/15
        $/bond:PMMA[0]/monomers[42]/1    $/atom:PMMA[0]/monomers[42]/1    $/atom:PMMA[0]/monomers[42]/2
        $/bond:PMMA[0]/monomers[42]/2    $/atom:PMMA[0]/monomers[42]/2    $/atom:PMMA[0]/monomers[42]/3
        $/bond:PMMA[0]/monomers[42]/3    $/atom:PMMA[0]/monomers[42]/2    $/atom:PMMA[0]/monomers[42]/4
        $/bond:PMMA[0]/monomers[42]/4    $/atom:PMMA[0]/monomers[42]/4    $/atom:PMMA[0]/monomers[42]/5
        $/bond:PMMA[0]/monomers[42]/5    $/atom:PMMA[0]/monomers[42]/4    $/atom:PMMA[0]/monomers[42]/6
        $/bond:PMMA[0]/monomers[42]/6    $/atom:PMMA[0]/monomers[42]/6    $/atom:PMMA[0]/monomers[42]/7
        $/bond:PMMA[0]/monomers[42]/7    $/atom:PMMA[0]/monomers[42]/1    $/atom:PMMA[0]/monomers[42]/8
        $/bond:PMMA[0]/monomers[42]/8    $/atom:PMMA[0]/monomers[42]/1    $/atom:PMMA[0]/monomers[42]/9
        $/bond:PMMA[0]/monomers[42]/9    $/atom:PMMA[0]/monomers[42]/3    $/atom:PMMA[0]/monomers[42]/10
        $/bond:PMMA[0]/monomers[42]/10    $/atom:PMMA[0]/monomers[42]/3    $/atom:PMMA[0]/monomers[42]/11
        $/bond:PMMA[0]/monomers[42]/11    $/atom:PMMA[0]/monomers[42]/3    $/atom:PMMA[0]/monomers[42]/12
        $/bond:PMMA[0]/monomers[42]/12    $/atom:PMMA[0]/monomers[42]/7    $/atom:PMMA[0]/monomers[42]/13
        $/bond:PMMA[0]/monomers[42]/13    $/atom:PMMA[0]/monomers[42]/7    $/atom:PMMA[0]/monomers[42]/14
        $/bond:PMMA[0]/monomers[42]/14    $/atom:PMMA[0]/monomers[42]/7    $/atom:PMMA[0]/monomers[42]/15
        $/bond:PMMA[0]/monomers[43]/1    $/atom:PMMA[0]/monomers[43]/1    $/atom:PMMA[0]/monomers[43]/2
        $/bond:PMMA[0]/monomers[43]/2    $/atom:PMMA[0]/monomers[43]/2    $/atom:PMMA[0]/monomers[43]/3
        $/bond:PMMA[0]/monomers[43]/3    $/atom:PMMA[0]/monomers[43]/2    $/atom:PMMA[0]/monomers[43]/4
        $/bond:PMMA[0]/monomers[43]/4    $/atom:PMMA[0]/monomers[43]/4    $/atom:PMMA[0]/monomers[43]/5
        $/bond:PMMA[0]/monomers[43]/5    $/atom:PMMA[0]/monomers[43]/4    $/atom:PMMA[0]/monomers[43]/6
        $/bond:PMMA[0]/monomers[43]/6    $/atom:PMMA[0]/monomers[43]/6    $/atom:PMMA[0]/monomers[43]/7
        $/bond:PMMA[0]/monomers[43]/7    $/atom:PMMA[0]/monomers[43]/1    $/atom:PMMA[0]/monomers[43]/8
        $/bond:PMMA[0]/monomers[43]/8    $/atom:PMMA[0]/monomers[43]/1    $/atom:PMMA[0]/monomers[43]/9
        $/bond:PMMA[0]/monomers[43]/9    $/atom:PMMA[0]/monomers[43]/3    $/atom:PMMA[0]/monomers[43]/10
        $/bond:PMMA[0]/monomers[43]/10    $/atom:PMMA[0]/monomers[43]/3    $/atom:PMMA[0]/monomers[43]/11
        $/bond:PMMA[0]/monomers[43]/11    $/atom:PMMA[0]/monomers[43]/3    $/atom:PMMA[0]/monomers[43]/12
        $/bond:PMMA[0]/monomers[43]/12    $/atom:PMMA[0]/monomers[43]/7    $/atom:PMMA[0]/monomers[43]/13
        $/bond:PMMA[0]/monomers[43]/13    $/atom:PMMA[0]/monomers[43]/7    $/atom:PMMA[0]/monomers[43]/14
        $/bond:PMMA[0]/monomers[43]/14    $/atom:PMMA[0]/monomers[43]/7    $/atom:PMMA[0]/monomers[43]/15
        $/bond:PMMA[0]/monomers[44]/1    $/atom:PMMA[0]/monomers[44]/1    $/atom:PMMA[0]/monomers[44]/2
        $/bond:PMMA[0]/monomers[44]/2    $/atom:PMMA[0]/monomers[44]/2    $/atom:PMMA[0]/monomers[44]/3
        $/bond:PMMA[0]/monomers[44]/3    $/atom:PMMA[0]/monomers[44]/2    $/atom:PMMA[0]/monomers[44]/4
        $/bond:PMMA[0]/monomers[44]/4    $/atom:PMMA[0]/monomers[44]/4    $/atom:PMMA[0]/monomers[44]/5
        $/bond:PMMA[0]/monomers[44]/5    $/atom:PMMA[0]/monomers[44]/4    $/atom:PMMA[0]/monomers[44]/6
        $/bond:PMMA[0]/monomers[44]/6    $/atom:PMMA[0]/monomers[44]/6    $/atom:PMMA[0]/monomers[44]/7
        $/bond:PMMA[0]/monomers[44]/7    $/atom:PMMA[0]/monomers[44]/1    $/atom:PMMA[0]/monomers[44]/8
        $/bond:PMMA[0]/monomers[44]/8    $/atom:PMMA[0]/monomers[44]/1    $/atom:PMMA[0]/monomers[44]/9
        $/bond:PMMA[0]/monomers[44]/9    $/atom:PMMA[0]/monomers[44]/3    $/atom:PMMA[0]/monomers[44]/10
        $/bond:PMMA[0]/monomers[44]/10    $/atom:PMMA[0]/monomers[44]/3    $/atom:PMMA[0]/monomers[44]/11
        $/bond:PMMA[0]/monomers[44]/11    $/atom:PMMA[0]/monomers[44]/3    $/atom:PMMA[0]/monomers[44]/12
        $/bond:PMMA[0]/monomers[44]/12    $/atom:PMMA[0]/monomers[44]/7    $/atom:PMMA[0]/monomers[44]/13
        $/bond:PMMA[0]/monomers[44]/13    $/atom:PMMA[0]/monomers[44]/7    $/atom:PMMA[0]/monomers[44]/14
        $/bond:PMMA[0]/monomers[44]/14    $/atom:PMMA[0]/monomers[44]/7    $/atom:PMMA[0]/monomers[44]/15
        $/bond:PMMA[0]/monomers[45]/1    $/atom:PMMA[0]/monomers[45]/1    $/atom:PMMA[0]/monomers[45]/2
        $/bond:PMMA[0]/monomers[45]/2    $/atom:PMMA[0]/monomers[45]/2    $/atom:PMMA[0]/monomers[45]/3
        $/bond:PMMA[0]/monomers[45]/3    $/atom:PMMA[0]/monomers[45]/2    $/atom:PMMA[0]/monomers[45]/4
        $/bond:PMMA[0]/monomers[45]/4    $/atom:PMMA[0]/monomers[45]/4    $/atom:PMMA[0]/monomers[45]/5
        $/bond:PMMA[0]/monomers[45]/5    $/atom:PMMA[0]/monomers[45]/4    $/atom:PMMA[0]/monomers[45]/6
        $/bond:PMMA[0]/monomers[45]/6    $/atom:PMMA[0]/monomers[45]/6    $/atom:PMMA[0]/monomers[45]/7
        $/bond:PMMA[0]/monomers[45]/7    $/atom:PMMA[0]/monomers[45]/1    $/atom:PMMA[0]/monomers[45]/8
        $/bond:PMMA[0]/monomers[45]/8    $/atom:PMMA[0]/monomers[45]/1    $/atom:PMMA[0]/monomers[45]/9
        $/bond:PMMA[0]/monomers[45]/9    $/atom:PMMA[0]/monomers[45]/3    $/atom:PMMA[0]/monomers[45]/10
        $/bond:PMMA[0]/monomers[45]/10    $/atom:PMMA[0]/monomers[45]/3    $/atom:PMMA[0]/monomers[45]/11
        $/bond:PMMA[0]/monomers[45]/11    $/atom:PMMA[0]/monomers[45]/3    $/atom:PMMA[0]/monomers[45]/12
        $/bond:PMMA[0]/monomers[45]/12    $/atom:PMMA[0]/monomers[45]/7    $/atom:PMMA[0]/monomers[45]/13
        $/bond:PMMA[0]/monomers[45]/13    $/atom:PMMA[0]/monomers[45]/7    $/atom:PMMA[0]/monomers[45]/14
        $/bond:PMMA[0]/monomers[45]/14    $/atom:PMMA[0]/monomers[45]/7    $/atom:PMMA[0]/monomers[45]/15
        $/bond:PMMA[0]/monomers[46]/1    $/atom:PMMA[0]/monomers[46]/1    $/atom:PMMA[0]/monomers[46]/2
        $/bond:PMMA[0]/monomers[46]/2    $/atom:PMMA[0]/monomers[46]/2    $/atom:PMMA[0]/monomers[46]/3
        $/bond:PMMA[0]/monomers[46]/3    $/atom:PMMA[0]/monomers[46]/2    $/atom:PMMA[0]/monomers[46]/4
        $/bond:PMMA[0]/monomers[46]/4    $/atom:PMMA[0]/monomers[46]/4    $/atom:PMMA[0]/monomers[46]/5
        $/bond:PMMA[0]/monomers[46]/5    $/atom:PMMA[0]/monomers[46]/4    $/atom:PMMA[0]/monomers[46]/6
        $/bond:PMMA[0]/monomers[46]/6    $/atom:PMMA[0]/monomers[46]/6    $/atom:PMMA[0]/monomers[46]/7
        $/bond:PMMA[0]/monomers[46]/7    $/atom:PMMA[0]/monomers[46]/1    $/atom:PMMA[0]/monomers[46]/8
        $/bond:PMMA[0]/monomers[46]/8    $/atom:PMMA[0]/monomers[46]/1    $/atom:PMMA[0]/monomers[46]/9
        $/bond:PMMA[0]/monomers[46]/9    $/atom:PMMA[0]/monomers[46]/3    $/atom:PMMA[0]/monomers[46]/10
        $/bond:PMMA[0]/monomers[46]/10    $/atom:PMMA[0]/monomers[46]/3    $/atom:PMMA[0]/monomers[46]/11
        $/bond:PMMA[0]/monomers[46]/11    $/atom:PMMA[0]/monomers[46]/3    $/atom:PMMA[0]/monomers[46]/12
        $/bond:PMMA[0]/monomers[46]/12    $/atom:PMMA[0]/monomers[46]/7    $/atom:PMMA[0]/monomers[46]/13
        $/bond:PMMA[0]/monomers[46]/13    $/atom:PMMA[0]/monomers[46]/7    $/atom:PMMA[0]/monomers[46]/14
        $/bond:PMMA[0]/monomers[46]/14    $/atom:PMMA[0]/monomers[46]/7    $/atom:PMMA[0]/monomers[46]/15
        $/bond:PMMA[0]/monomers[47]/1    $/atom:PMMA[0]/monomers[47]/1    $/atom:PMMA[0]/monomers[47]/2
        $/bond:PMMA[0]/monomers[47]/2    $/atom:PMMA[0]/monomers[47]/2    $/atom:PMMA[0]/monomers[47]/3
        $/bond:PMMA[0]/monomers[47]/3    $/atom:PMMA[0]/monomers[47]/2    $/atom:PMMA[0]/monomers[47]/4
        $/bond:PMMA[0]/monomers[47]/4    $/atom:PMMA[0]/monomers[47]/4    $/atom:PMMA[0]/monomers[47]/5
        $/bond:PMMA[0]/monomers[47]/5    $/atom:PMMA[0]/monomers[47]/4    $/atom:PMMA[0]/monomers[47]/6
        $/bond:PMMA[0]/monomers[47]/6    $/atom:PMMA[0]/monomers[47]/6    $/atom:PMMA[0]/monomers[47]/7
        $/bond:PMMA[0]/monomers[47]/7    $/atom:PMMA[0]/monomers[47]/1    $/atom:PMMA[0]/monomers[47]/8
        $/bond:PMMA[0]/monomers[47]/8    $/atom:PMMA[0]/monomers[47]/1    $/atom:PMMA[0]/monomers[47]/9
        $/bond:PMMA[0]/monomers[47]/9    $/atom:PMMA[0]/monomers[47]/3    $/atom:PMMA[0]/monomers[47]/10
        $/bond:PMMA[0]/monomers[47]/10    $/atom:PMMA[0]/monomers[47]/3    $/atom:PMMA[0]/monomers[47]/11
        $/bond:PMMA[0]/monomers[47]/11    $/atom:PMMA[0]/monomers[47]/3    $/atom:PMMA[0]/monomers[47]/12
        $/bond:PMMA[0]/monomers[47]/12    $/atom:PMMA[0]/monomers[47]/7    $/atom:PMMA[0]/monomers[47]/13
        $/bond:PMMA[0]/monomers[47]/13    $/atom:PMMA[0]/monomers[47]/7    $/atom:PMMA[0]/monomers[47]/14
        $/bond:PMMA[0]/monomers[47]/14    $/atom:PMMA[0]/monomers[47]/7    $/atom:PMMA[0]/monomers[47]/15
        $/bond:PMMA[0]/monomers[48]/1    $/atom:PMMA[0]/monomers[48]/1    $/atom:PMMA[0]/monomers[48]/2
        $/bond:PMMA[0]/monomers[48]/2    $/atom:PMMA[0]/monomers[48]/2    $/atom:PMMA[0]/monomers[48]/3
        $/bond:PMMA[0]/monomers[48]/3    $/atom:PMMA[0]/monomers[48]/2    $/atom:PMMA[0]/monomers[48]/4
        $/bond:PMMA[0]/monomers[48]/4    $/atom:PMMA[0]/monomers[48]/4    $/atom:PMMA[0]/monomers[48]/5
        $/bond:PMMA[0]/monomers[48]/5    $/atom:PMMA[0]/monomers[48]/4    $/atom:PMMA[0]/monomers[48]/6
        $/bond:PMMA[0]/monomers[48]/6    $/atom:PMMA[0]/monomers[48]/6    $/atom:PMMA[0]/monomers[48]/7
        $/bond:PMMA[0]/monomers[48]/7    $/atom:PMMA[0]/monomers[48]/1    $/atom:PMMA[0]/monomers[48]/8
        $/bond:PMMA[0]/monomers[48]/8    $/atom:PMMA[0]/monomers[48]/1    $/atom:PMMA[0]/monomers[48]/9
        $/bond:PMMA[0]/monomers[48]/9    $/atom:PMMA[0]/monomers[48]/3    $/atom:PMMA[0]/monomers[48]/10
        $/bond:PMMA[0]/monomers[48]/10    $/atom:PMMA[0]/monomers[48]/3    $/atom:PMMA[0]/monomers[48]/11
        $/bond:PMMA[0]/monomers[48]/11    $/atom:PMMA[0]/monomers[48]/3    $/atom:PMMA[0]/monomers[48]/12
        $/bond:PMMA[0]/monomers[48]/12    $/atom:PMMA[0]/monomers[48]/7    $/atom:PMMA[0]/monomers[48]/13
        $/bond:PMMA[0]/monomers[48]/13    $/atom:PMMA[0]/monomers[48]/7    $/atom:PMMA[0]/monomers[48]/14
        $/bond:PMMA[0]/monomers[48]/14    $/atom:PMMA[0]/monomers[48]/7    $/atom:PMMA[0]/monomers[48]/15
        $/bond:PMMA[0]/monomers[49]/1    $/atom:PMMA[0]/monomers[49]/1    $/atom:PMMA[0]/monomers[49]/2
        $/bond:PMMA[0]/monomers[49]/2    $/atom:PMMA[0]/monomers[49]/2    $/atom:PMMA[0]/monomers[49]/3
        $/bond:PMMA[0]/monomers[49]/3    $/atom:PMMA[0]/monomers[49]/2    $/atom:PMMA[0]/monomers[49]/4
        $/bond:PMMA[0]/monomers[49]/4    $/atom:PMMA[0]/monomers[49]/4    $/atom:PMMA[0]/monomers[49]/5
        $/bond:PMMA[0]/monomers[49]/5    $/atom:PMMA[0]/monomers[49]/4    $/atom:PMMA[0]/monomers[49]/6
        $/bond:PMMA[0]/monomers[49]/6    $/atom:PMMA[0]/monomers[49]/6    $/atom:PMMA[0]/monomers[49]/7
        $/bond:PMMA[0]/monomers[49]/7    $/atom:PMMA[0]/monomers[49]/1    $/atom:PMMA[0]/monomers[49]/8
        $/bond:PMMA[0]/monomers[49]/8    $/atom:PMMA[0]/monomers[49]/1    $/atom:PMMA[0]/monomers[49]/9
        $/bond:PMMA[0]/monomers[49]/9    $/atom:PMMA[0]/monomers[49]/3    $/atom:PMMA[0]/monomers[49]/10
        $/bond:PMMA[0]/monomers[49]/10    $/atom:PMMA[0]/monomers[49]/3    $/atom:PMMA[0]/monomers[49]/11
        $/bond:PMMA[0]/monomers[49]/11    $/atom:PMMA[0]/monomers[49]/3    $/atom:PMMA[0]/monomers[49]/12
        $/bond:PMMA[0]/monomers[49]/12    $/atom:PMMA[0]/monomers[49]/7    $/atom:PMMA[0]/monomers[49]/13
        $/bond:PMMA[0]/monomers[49]/13    $/atom:PMMA[0]/monomers[49]/7    $/atom:PMMA[0]/monomers[49]/14
        $/bond:PMMA[0]/monomers[49]/14    $/atom:PMMA[0]/monomers[49]/7    $/atom:PMMA[0]/monomers[49]/15
    $/bond:PMMA[0]/genp_bond_nt1 $/atom:PMMA[0]/monomers[0]/1 $/atom:PMMA[0]/monomers[1]/2
    $/bond:PMMA[0]/genp_bond_nt2 $/atom:PMMA[0]/monomers[1]/1 $/atom:PMMA[0]/monomers[2]/2
    $/bond:PMMA[0]/genp_bond_nt3 $/atom:PMMA[0]/monomers[2]/1 $/atom:PMMA[0]/monomers[3]/2
    $/bond:PMMA[0]/genp_bond_nt4 $/atom:PMMA[0]/monomers[3]/1 $/atom:PMMA[0]/monomers[4]/2
    $/bond:PMMA[0]/genp_bond_nt5 $/atom:PMMA[0]/monomers[4]/1 $/atom:PMMA[0]/monomers[5]/2
    $/bond:PMMA[0]/genp_bond_nt6 $/atom:PMMA[0]/monomers[5]/1 $/atom:PMMA[0]/monomers[6]/2
    $/bond:PMMA[0]/genp_bond_nt7 $/atom:PMMA[0]/monomers[6]/1 $/atom:PMMA[0]/monomers[7]/2
    $/bond:PMMA[0]/genp_bond_nt8 $/atom:PMMA[0]/monomers[7]/1 $/atom:PMMA[0]/monomers[8]/2
    $/bond:PMMA[0]/genp_bond_nt9 $/atom:PMMA[0]/monomers[8]/1 $/atom:PMMA[0]/monomers[9]/2
    $/bond:PMMA[0]/genp_bond_nt10 $/atom:PMMA[0]/monomers[9]/1 $/atom:PMMA[0]/monomers[10]/2
    $/bond:PMMA[0]/genp_bond_nt11 $/atom:PMMA[0]/monomers[10]/1 $/atom:PMMA[0]/monomers[11]/2
    $/bond:PMMA[0]/genp_bond_nt12 $/atom:PMMA[0]/monomers[11]/1 $/atom:PMMA[0]/monomers[12]/2
    $/bond:PMMA[0]/genp_bond_nt13 $/atom:PMMA[0]/monomers[12]/1 $/atom:PMMA[0]/monomers[13]/2
    $/bond:PMMA[0]/genp_bond_nt14 $/atom:PMMA[0]/monomers[13]/1 $/atom:PMMA[0]/monomers[14]/2
    $/bond:PMMA[0]/genp_bond_nt15 $/atom:PMMA[0]/monomers[14]/1 $/atom:PMMA[0]/monomers[15]/2
    $/bond:PMMA[0]/genp_bond_nt16 $/atom:PMMA[0]/monomers[15]/1 $/atom:PMMA[0]/monomers[16]/2
    $/bond:PMMA[0]/genp_bond_nt17 $/atom:PMMA[0]/monomers[16]/1 $/atom:PMMA[0]/monomers[17]/2
    $/bond:PMMA[0]/genp_bond_nt18 $/atom:PMMA[0]/monomers[17]/1 $/atom:PMMA[0]/monomers[18]/2
    $/bond:PMMA[0]/genp_bond_nt19 $/atom:PMMA[0]/monomers[18]/1 $/atom:PMMA[0]/monomers[19]/2
    $/bond:PMMA[0]/genp_bond_nt20 $/atom:PMMA[0]/monomers[19]/1 $/atom:PMMA[0]/monomers[20]/2
    $/bond:PMMA[0]/genp_bond_nt21 $/atom:PMMA[0]/monomers[20]/1 $/atom:PMMA[0]/monomers[21]/2
    $/bond:PMMA[0]/genp_bond_nt22 $/atom:PMMA[0]/monomers[21]/1 $/atom:PMMA[0]/monomers[22]/2
    $/bond:PMMA[0]/genp_bond_nt23 $/atom:PMMA[0]/monomers[22]/1 $/atom:PMMA[0]/monomers[23]/2
    $/bond:PMMA[0]/genp_bond_nt24 $/atom:PMMA[0]/monomers[23]/1 $/atom:PMMA[0]/monomers[24]/2
    $/bond:PMMA[0]/genp_bond_nt25 $/atom:PMMA[0]/monomers[24]/1 $/atom:PMMA[0]/monomers[25]/2
    $/bond:PMMA[0]/genp_bond_nt26 $/atom:PMMA[0]/monomers[25]/1 $/atom:PMMA[0]/monomers[26]/2
    $/bond:PMMA[0]/genp_bond_nt27 $/atom:PMMA[0]/monomers[26]/1 $/atom:PMMA[0]/monomers[27]/2
    $/bond:PMMA[0]/genp_bond_nt28 $/atom:PMMA[0]/monomers[27]/1 $/atom:PMMA[0]/monomers[28]/2
    $/bond:PMMA[0]/genp_bond_nt29 $/atom:PMMA[0]/monomers[28]/1 $/atom:PMMA[0]/monomers[29]/2
    $/bond:PMMA[0]/genp_bond_nt30 $/atom:PMMA[0]/monomers[29]/1 $/atom:PMMA[0]/monomers[30]/2
    $/bond:PMMA[0]/genp_bond_nt31 $/atom:PMMA[0]/monomers[30]/1 $/atom:PMMA[0]/monomers[31]/2
    $/bond:PMMA[0]/genp_bond_nt32 $/atom:PMMA[0]/monomers[31]/1 $/atom:PMMA[0]/monomers[32]/2
    $/bond:PMMA[0]/genp_bond_nt33 $/atom:PMMA[0]/monomers[32]/1 $/atom:PMMA[0]/monomers[33]/2
    $/bond:PMMA[0]/genp_bond_nt34 $/atom:PMMA[0]/monomers[33]/1 $/atom:PMMA[0]/monomers[34]/2
    $/bond:PMMA[0]/genp_bond_nt35 $/atom:PMMA[0]/monomers[34]/1 $/atom:PMMA[0]/monomers[35]/2
    $/bond:PMMA[0]/genp_bond_nt36 $/atom:PMMA[0]/monomers[35]/1 $/atom:PMMA[0]/monomers[36]/2
    $/bond:PMMA[0]/genp_bond_nt37 $/atom:PMMA[0]/monomers[36]/1 $/atom:PMMA[0]/monomers[37]/2
    $/bond:PMMA[0]/genp_bond_nt38 $/atom:PMMA[0]/monomers[37]/1 $/atom:PMMA[0]/monomers[38]/2
    $/bond:PMMA[0]/genp_bond_nt39 $/atom:PMMA[0]/monomers[38]/1 $/atom:PMMA[0]/monomers[39]/2
    $/bond:PMMA[0]/genp_bond_nt40 $/atom:PMMA[0]/monomers[39]/1 $/atom:PMMA[0]/monomers[40]/2
    $/bond:PMMA[0]/genp_bond_nt41 $/atom:PMMA[0]/monomers[40]/1 $/atom:PMMA[0]/monomers[41]/2
    $/bond:PMMA[0]/genp_bond_nt42 $/atom:PMMA[0]/monomers[41]/1 $/atom:PMMA[0]/monomers[42]/2
    $/bond:PMMA[0]/genp_bond_nt43 $/atom:PMMA[0]/monomers[42]/1 $/atom:PMMA[0]/monomers[43]/2
    $/bond:PMMA[0]/genp_bond_nt44 $/atom:PMMA[0]/monomers[43]/1 $/atom:PMMA[0]/monomers[44]/2
    $/bond:PMMA[0]/genp_bond_nt45 $/atom:PMMA[0]/monomers[44]/1 $/atom:PMMA[0]/monomers[45]/2
    $/bond:PMMA[0]/genp_bond_nt46 $/atom:PMMA[0]/monomers[45]/1 $/atom:PMMA[0]/monomers[46]/2
    $/bond:PMMA[0]/genp_bond_nt47 $/atom:PMMA[0]/monomers[46]/1 $/atom:PMMA[0]/monomers[47]/2
    $/bond:PMMA[0]/genp_bond_nt48 $/atom:PMMA[0]/monomers[47]/1 $/atom:PMMA[0]/monomers[48]/2
    $/bond:PMMA[0]/genp_bond_nt49 $/atom:PMMA[0]/monomers[48]/1 $/atom:PMMA[0]/monomers[49]/2
